[2015-07-08 07:52] vcardins opened #1 "How to enable CORS ?"
First, thanks for this great piece of code !!
I'm not a node.js expert and I'm started my node server in another port, however I'm getting 401 - http://screencast.com/t/aTYKPs5nZ. Could you advice how I could enable CORS? Or is there anything else that I'm missing ? I tried to add
[code]
but it didn't work.

[2015-07-08 08:07] vcardins commented on #1
Never mind, I used this lib: https://github.com/expressjs/cors and it worked fine. Again, Great job !!!

[2015-07-08 08:07] #1 closed

[2015-07-08 13:24] paulvanbladel commented on #1
Hi Victor,
Thanks for the very first comment in this new github repository.
I'm glad you figured out yourself the cors problem.
Cheers
paul.

[2015-07-14 16:33] PWKad opened #3 "Add plugin to aurelia-registry"
Aurelia is starting a universal registry of plugins for now - this contains a list of plugins and will be used by the CLI soon to install the plugins automatically for the developer.

https://github.com/aurelia/registry/blob/master/plugin-registry.json

[2015-07-14 16:44] paulvanbladel commented on #3
Nice. I will pick that up after my holiday.

[2015-07-23 15:12] RWOverdijk opened #4 "tag"
Please make a new tag. Master contains a fix I need (signup. I don't have a displayname or email, but a simple username and password).

[2015-07-24 07:22] RWOverdijk opened #5 "Send token"
How can I send the token along with every request I make? The README says:

However, AuthService.isAuthenticated() returns true, and the token is not sent along with my requests. Here's how I make my requests:

[code]

this.api is just HttpClient (aurelia-http-client).

[2015-07-24 07:28] #5 closed

[2015-07-24 08:47] paulvanbladel commented on #4
Currently abroad and limited www access.
i will handle this next week.
thanks

[2015-07-28 08:24] paulvanbladel commented on #4
v0.9.3 created.

[2015-07-28 08:24] #4 closed

[2015-07-28 09:47] kristianmandrup commented on #3
You can also add it to the jspm registry directly ;)

https://github.com/jspm/registry/blob/master/registry.json

But I guess, better to use the aurelia plugin registry...

[2015-07-28 10:01] kristianmandrup opened #7 "Naming"
I recommend that you follow the Aurelia "naming standard" and rename it `aurelia-auth` or perhaps even better, `aurelia-token-auth` since there might well be other auth plugins (such as JWT etc.) down the line...

[2015-07-28 10:02] kristianmandrup opened #8 "Proof integration"
Suggestion: Would be nice if your plugin could also integrate with Proof authentication https://github.com/undercase/proof

[2015-07-28 12:36] paulvanbladel commented on #7
Hi Kristian,
Thanks for the suggestion. The reason I took a more 'frivolous' name because I thought the aurelia-abc naming was kind of reserved for the 'official' aurelia plugins.
Maybe someone from the aurelia core team should advice here.

[2015-07-28 13:23] PWKad commented on #3
Definitely recommend adding to jspm also - jspm will help other users get the latest version of your app very easily - with the aurelia registry we are simply hoping to create a single source of all things Aurelia no matter where / how they are served to help gain exposure for these various plugins.

Thanks!

[2015-07-28 14:03] paulvanbladel commented on #3
@PWKad  : what is your view on #7 ?

[2015-07-28 14:06] paulvanbladel commented on #8
Great suggestion, but I'm not familiar with rails as backend.

[2015-07-28 14:45] kristianmandrup commented on #8
Just ask the author how you can contribute with an Adapter ;) Proof simply exposes a REST API that your adapter interacts with, similar to OAuth etc.

"To help out, either contribute to this repository, or write adapters for popular client-side libraries, such as Ember, Angular, and React."

[2015-07-28 15:08] PWKad commented on #7
Generally when 'naming' the plugins I recommend that the repository contains the word aurelia because it helps others find it.  Dasherizing it is helpful as well of course.

When this is actually loaded via JSPM or wherever else it will be clear that this is not an official repo because those always originate from the `github:aurelia/{whatever}` namespace on github.  The community contributions wi

[2015-07-28 15:21] kristianmandrup commented on #7
Awesome :) Good points!! I think for now it should be named `aurelia-token-auth` to make it clear that it is (for now at least) token based authentication only.

[2015-07-29 07:25] paulvanbladel commented on #8
Happy to receive a PR for this Kristian :)

[2015-07-29 07:25] #8 closed

[2015-07-29 07:27] paulvanbladel commented on #7
Let's try to be future proof and name it aurelia-auth.

[2015-07-29 07:27] #7 closed

[2015-07-31 13:41] #3 closed

[2015-08-04 12:41] aidesigner opened #10 "Microsoft Azure active directory support"
First thanks for this resource as it is very well put together.  I am learning Aurelia to build a website that will be located on Azure, which I imagine will be very common.  Azure has a strong and well support authentication solution, which is Azure active directory. I am learn about this token based solution and provided some links below.

Is it practical and would you consider adding support fo

[2015-08-04 13:01] paulvanbladel commented on #10
My solution is pure oauth (and local login).
In my understanding, azure active directory could be interesting when there is a need for a more federated solution (so integrating windows identities that lives 'on premise').
I never used azure AD, but my solution is backend agnostic, whereas azure AD, well ... that's azure, so you select a particular vendor.

[2015-08-04 14:09] aidesigner commented on #10
Thank you for the clarification, perhaps I will try both solutions and compare.  To compare, in your solution the user can choose to authenticate with google and then next time with twitter.  In this case do I fetch information with the token from google/twitter to realize it is the same user?

[2015-08-04 15:00] paulvanbladel commented on #10
Accounts can be linked together, or associated if you want.

[2015-08-04 15:31] aidesigner commented on #10
I understand, and let me conclude with a question on features as compared to Azure Active Directory (AAD).
-aurelia-auth concludes by providing a token which can optionally be linked to other tokens?
-If I wish to store user data (ie. User phone number) I should then use the token as a key to a custom backend dababase?
-Some feature unique to AAD are "on premise" federation (Not interested) and Si

[2015-08-04 15:37] paulvanbladel commented on #10
Well, the app (the server part, check the nodeJs sample app) still manages it users, but it does not manage Identities (read: password) except for the local strategy, for all other oauth based providers, the actual authentication is done by google/facebook/twitter, ...
When a user is created server side, other (not yet taken) identities can be linked to that user.
Indeed, single sign on (under the

[2015-08-04 15:50] aidesigner commented on #10
I should have mentioned I have a VS 2015 ASP.NET 5 project (No nodejs) that simple delivers the aurelia SPA files.  Perhaps your server managed comments still apply, but I will have to learn.  So given my setup where and how would I store the users phone number (ie. Use aurelia-auth token to access database)?

[2015-08-04 16:40] paulvanbladel commented on #10
should be part of the user profile table, basically it's of the same order as user display name.

[2015-08-04 18:43] aidesigner commented on #10
Thanks for your insight.  What I am after is actually lots of custom data per user (Beyond profile) like products they bought or whatever.  Just making sure I understand where I might put/access this data with your solution.  Since your authentication revolves around a unique token per user, do  you agree it makes since to use the token as the key to into my custom backend database to hold user in

[2015-08-04 19:24] paulvanbladel commented on #10
Not a good idea,   token is created when you sign in.  User must have unique id.

[2015-08-07 12:08] aidesigner commented on #10
Yes I will stick a unique id placed in the profile table I obtain from the provider (yahoo, google, ...).  Then create a backend ASP.NET Web API2 database to hold tons of user info, which is indexed by the unique ID.

I think your solution is well done, stands out, and probably suites almost everyone.  I remain on the fence because I am heavily committed to the Microsoft Azure infrastructure.  May

[2015-08-07 12:11] paulvanbladel commented on #10
Indeed, the current implementation is quite generic.
I suggest you further explore AAD and that you come back if you see further opportunitities to refine aurelia-auth.
thanks for the support
paul.

[2015-08-07 12:11] #10 closed

[2015-08-11 18:33] txels opened #11 "Accept headers for login are incorrect on Firefox"
I just started using aurelia-auth (great library!) to authenticate against my own service using JWT.

I managed to make it work using https://github.com/paulvanbladel/aurelia-auth-sample as a base and modifying `authConfig.js` to meet my needs:

[code]

This works fine on Chrome but not on Firefox. I found the reason for it to be that on Chrome login sends `Accept: */*` whereas on Firefox it sends

[2015-08-11 18:42] txels commented on #11
(I could try and write a PR, with some guidance as to where to best do this)

[2015-08-11 18:52] paulvanbladel commented on #11
Hi, would be great to make a PR because I leave on holiday now.
Don't worry too much about PR format, I have no problem with integrating the code if you even drop it here in a comment.
thanks
paul.

[2015-08-17 10:32] vincenzoraco opened #13 "Error: inject is not a function"
I followed the tutorial to install the plugin but when I add this:

[code]

and/or this:

[code]

I get the error ``` Error: inject is not a function ``` . When I call the plugin there is a problem on:

[code]

or on any file that call the inject function. I tried to clear the jspm cache and install all the dependencies again, but it does not solve the problem.

Is an aurelia-auth problem, mine or

[2015-08-17 21:36] maxfrigge commented on #13
I am having the same issue.

[2015-08-18 08:01] paulvanbladel commented on #13
@vincenzoraco @maxfrigge .
yeah, is due to aurelia framework updates.
Working on it right now. Keep you posted.
cheers
paul.

[2015-08-18 09:37] paulvanbladel commented on #13
There was a breaking change in aurelia-framework: aurelia.globalizeResources is renamed to aurelia.globalResources.
The corresponding sample app (aurelia-auth-sample) has been updated as well.

[2015-08-18 09:37] #13 closed

[2015-08-21 16:47] maxfrigge commented on #5
Having the same issue. How did you resolve it?

[2015-08-21 20:51] maxfrigge commented on #5
Well I found a way to do it.

    import {inject} from 'aurelia-framework';
    import HttpClientConfig from 'paulvanbladel/aurelia-auth/app.httpClient.config'

    @inject(HttpClientConfig)
    export class App {
      constructor(httpClientConfig) {
        this.httpClientConfig = httpClientConfig;
      }

      activate() {
        this.httpClientConfig.configure();
      }

    }

Calling `ht

[2015-08-22 07:18] paulvanbladel commented on #5
Indeed, that's how it's done in the sample app.
https://github.com/paulvanbladel/aurelia-auth-sample/blob/master/client/src/app.js

[code]

[2015-08-22 07:18] #11 closed

[2015-08-22 15:07] lukeskinner opened #14 "Overridden loginRoute is not used when checking if a user is logged in"
When changing the default config for the login route from ```/login``` to ```/signin```, I noticed the AuthorizeStep will always redirect to ```login``` instead of using the value in the config.

The issue seems to be a hard coded ```'login'``` in the code. Instead it should use the config to get the login redirect route.
 https://github.com/paulvanbladel/aurelia-auth/blob/master/src/authorizeStep

[2015-08-22 15:34] lukeskinner opened #15 ""Cannot read property 'message' of null" error when a login fails"
I'm using the following code to login:
[code]

When the login fails (incorrect email/password) I return a 401 Unauthorized response with the response body being an error message. In this scenario I would expect the ```err``` in the catch above to be the response from the server.

Instead I'm seeing this:
![error2](https://cloud.githubusercontent.com/assets/7475696/9424574/c4c0fa30-48e8-11e5-9e77-b

[2015-08-23 17:22] paulvanbladel commented on #15
HI Luke,
Thanks a lot for reporting the issue.
I think the authService should simply not contain any catch blocks. It's not because there is no catch block that the consumer of the authService will not be able to catch the error.
So, I removed all catch blocks and will soon update the sources and create a new version tag. I'll let you know when the new version is available.

Good "catch" :)
Thanks

[2015-08-23 18:00] paulvanbladel commented on #14
Luke,
Thanks for reporting this issue.
I think I solved it.
Can you use version 0.9.10 and verify if all works as expected for you.
Cheers and thanks again for making aurelia-auth better.
paul.

[2015-08-23 18:19] lukeskinner commented on #14
Using ```loginRoute: '/signin'``` now works as expected using version 0.9.10.
Thanks for fixing this - really enjoying using aurelia-auth so far!

[2015-08-23 18:19] #14 closed

[2015-08-23 18:20] lukeskinner commented on #15
This is no longer an issue in v0.9.10. Thanks again for fixing it so quickly.

[2015-08-23 18:20] #15 closed

[2015-08-23 18:21] paulvanbladel commented on #15
My pleasure.

[2015-08-27 19:11] chrisjasp commented on #13
I am still receiving this error despite having the latest.

[2015-08-27 19:18] maxfrigge commented on #13
Works for me..

[2015-08-27 19:29] chrisjasp commented on #13
Must be missing something else. I am having the same symptoms as the original post.

[2015-08-27 19:34] maxfrigge commented on #13
Which Versions auf aurelia and aurelia-auth are you using.. do you maybe load an old bundle instead of the new source files?

[2015-08-27 19:38] lukeskinner commented on #13
Based on the comment earlier which says 'aurelia.globalizeResources is renamed to aurelia.globalResources.', I can see a commit in aurelia-auth which changed this in the [index.js](https://github.com/paulvanbladel/aurelia-auth/commit/3e9ac8658dd2edfe6a1aedf4f16510f94c26d9b0) file.

I would recommend running ```jspm update``` which will update everything (aurelia framework + aurelia-auth and anythi

[2015-08-27 19:59] chrisjasp commented on #13
Sorry for the bother. I'm new to jspm. That seems to have been the issue. Thanks!

[2015-08-28 12:22] paulvanbladel commented on #13
No worries, learning jspm can be an adventure :)

[2015-09-08 09:58] eaidland opened #18 "Unhandled promise rejection Error: inject is not a function"
![image](https://cloud.githubusercontent.com/assets/10772259/9732032/e8cba264-5620-11e5-8749-a31a849a036a.png)

[2015-09-08 10:01] paulvanbladel commented on #18
You probably don't have the latest version of the aurelia framework.
See also #13.

[2015-09-08 10:04] eaidland commented on #18
Currently using aurelia-auth@0.9.11.js

[2015-09-08 10:06] paulvanbladel commented on #18
Yeah that's great, but I'm referring to the latest version of aurelia framework.
Take the latest skeleton-navigation and add aurelia-auth and check if that works.

[2015-09-08 10:31] eaidland commented on #18
![image](https://cloud.githubusercontent.com/assets/10772259/9732566/1239e8d2-5625-11e5-9232-e5506f540b78.png)

Downloaded the New skeleton-navigation. Added aurelia-auth and followed the instructions.
npm install
jspm install
gulp watch

config.js
 "paulvanbladel/aurelia-auth": "github:paulvanbladel/aurelia-auth@0.9.11",

package.json
  "jspm": {
    "dependencies": {
      "aurelia-animator-css"

[2015-09-08 10:34] paulvanbladel commented on #18
Strange.
Can you be so kind and switch to aurelia-auth version 0.9.10 and see if that makes a difference ?

[2015-09-08 10:47] eaidland commented on #18
![image](https://cloud.githubusercontent.com/assets/10772259/9732912/ca656876-5627-11e5-8d9a-fddf1dfe4e88.png)

jspm install github:paulvanbladel/aurelia-auth@0.9.10

package.js:
  "jspm": {
    "dependencies": {
      "aurelia-animator-css": "github:aurelia/animator-css@^0.16.0",
      "aurelia-binding": "github:aurelia/binding@^0.9.0",
      "aurelia-bootstrapper": "github:aurelia/bootstrapper@^

[2015-09-08 10:51] lukeskinner commented on #18
I just setup a new aurelia site without any issues on 0.9.11 of aurelia-auth.

Can you check if you have any import statements like the one below? The {AuthorizeStep} may be different depending on what you're trying to import.
[code]

If you do can you try changing them to this?
[code]

[2015-09-08 10:54] paulvanbladel commented on #18
It will depend on how you install aurelia-auth.
Both or possible:
1. jspm install github:paulvanbladel/aurelia-auth
2. jspm install aurelia-auth.

in case of 1 (which you did I guess), you need import {AuthorizeStep} from 'paulvanbladel/aurelia-auth';
in case of 2: import {AuthorizeStep} from 'aurelia-auth';

Make sense?

[2015-09-08 11:01] eaidland commented on #18
Just for testing I did the jspm install aurelia-auth.

![image](https://cloud.githubusercontent.com/assets/10772259/9733224/c4f77bf2-5629-11e5-980e-cc01514b0425.png)

[2015-09-08 11:07] lukeskinner commented on #18
Example main.js file - at a guess you are missing the first import line as this gives me the same error without it.
[code]

Example authConfig.js file (from the installation instructions https://github.com/paulvanbladel/aurelia-auth)
[code]

You may have already seen it but there is a demo app using aurelia-auth here https://github.com/paulvanbladel/aurelia-auth-sample/tree/master/client.

[2015-09-08 11:46] paulvanbladel commented on #18
I just updated the aurelia-auth-sample with the latest aurelia framework.
Anyhow the sample work fine with the latest aurelia-auth plugin, so you are probably doing something different...

[2015-09-08 11:46] #18 closed

[2015-09-08 11:47] eaidland commented on #18
![image](https://cloud.githubusercontent.com/assets/10772259/9733947/ba75d592-562f-11e5-851f-3de14f61be3e.png)

I've done some more changes. Looks like it's up and running. Just the import 'bootstrap/css/bootstrap.css!'; that's not working.

[2015-09-08 11:55] paulvanbladel commented on #18
Yeah, that's what I updated 2 minutes ago.
Please check aurelia-auth-sample, you will see that the css is now loaded differently, it's a breaking change in aurelia framework september release.

[2015-09-08 12:48] eaidland commented on #18
Ok thanks. Got the New skeleton up and running.
Can't understand why the old one always download old refs even though I've removed them from both config and package

[2015-09-08 12:48] eaidland commented on #18
That's the Aurelia packages not auth..

[2015-09-08 14:07] eaidland commented on #18
Found out it was the "aurelia-validation" plugin.

You can Close this case.

Thanks :D

[2015-09-08 14:32] eaidland opened #19 "Bearer token not sent with request"
So I've updated Aurelia and the auth. Before I updated I could do this in the activate:
   return this.http.get(this.authService.config.baseUrl + this.api)
    .then(response => {
      console.log(response)
      this.employees = response.content;
    });

And the bearer token was sent With the request. Now it's empty. My authConfig haven't been changed. I can also see that my token is in the loc

[2015-09-08 16:26] paulvanbladel commented on #19
Yeah, I confirm here is something wrong.
Happens also in aurelia-auth-sample.
No clue what is happening here, The transformer that I add isn't called any longer :(
Maybe something changed in aurelia-http-client.
This needs closer inspection...

[2015-09-08 16:28] eaidland commented on #19
Great!... or not great, but great that it just wasn't my app :+1:

Thanks for quick response

[2015-09-08 16:34] paulvanbladel commented on #19
If you have time (i haven't currently), could you please try to add a transformer to the http config and check it is still called ?

I'm doing following:
[code]
of course the test transformer can also do a simple console.log (instead of adding a jwt token in header)

[2015-09-08 17:17] eaidland commented on #19
_createClass(_default, [{
					key: 'configure',
					value: function configure() {
						var _this = this;
						 	console.log("TEST1");
						RequestBuilder.addHelper('authTokenHandling', function () {
							console.log("TEST2");
							return function (client, processor, message) {
								console.log("TEST2 " +  client);
								console.log("TEST2 " +processor );
								console.log("TEST2 "

[2015-09-08 18:25] lukeskinner commented on #19
I found a fix for my local setup - worth checking to see if it fixes yours as well.

In my config.js file I had the following:
[code]

After changing the http-client version number to 0.11.0 it seems to work again:
[code]

I haven't had much experience in this area but presumably this is because aurelia-auth is still pointing to old versions of aurelia (see https://github.com/paulvanbladel/aurelia

[2015-09-08 18:37] eaidland commented on #19
Worked for me :+1:

[2015-09-08 18:41] paulvanbladel commented on #19
Thanks @lukeskinner .
I probably need to update the framework references in aurelia-auth.
@eaidland  I'll check this and keep you posted.

[2015-09-08 19:05] paulvanbladel commented on #19
Ok. solved with aurelia-auth 0.9.14.
fix via:
[code]

[2015-09-08 19:05] #19 closed

[2015-09-12 22:41] adriatic opened #20 "Adding more API"
I would love to have a richer set of methods (functions - not yet sure what is the proper term in ES6 JavaScript) in ``AuthService`` class and I am not one of those guys that want to do everything form the scratch, **themselves**.

Some of the features I need
- support for [user claims](https://en.wikipedia.org/wiki/Claims-based_identity) (set of claims extensible by the user)
- user claims mergin

[2015-09-14 14:43] paulvanbladel commented on #20
the point is that aurelia-auth is a client side SPA-based library. The technologies you are referring too are mainly server side.
Nonetheless I'm thinking of using swagger for managing "permissions" which are in a way the same as claims, but you should realize that permissions (e.g. canEditCustomer, canDeleteCustomer) also in a SPA perspective more a user experience feature rather than a security

[2015-09-14 15:01] adriatic commented on #20
I respectfully disagree, Paul. The way the initial version of Aurelia-Auth is implemented **is a user experience feature** - but it should not be. Aurelia application (meaning _the front end of a full-stack application_) most likely is not a SPA, but rather a collection of SPAs where all front end related security issues are **always** reflected in the back end - as for example explained here http

[2015-09-14 17:10] paulvanbladel commented on #20
Nice, I will read the details over there.
thanks a lot.

[2015-09-14 17:10] #20 closed

[2015-09-18 23:58] Skylertodd opened #23 "Can't post to Oauth2 Service with authService.login()"
Currently the way AuthService.Login is implemented it will not post to any .net Oauth2 Service because it strictly requires the post data to be formatted with 'application/x-www-form-urlencoded'.

The current implementation seems really close... but I am unable to get it to work without monkey patching in an alternate to your auth function.

Currently I am patching this in so that I can use the co

[2015-09-19 08:16] paulvanbladel commented on #23
Strange but interesting.
1. do you have somewhere your backend on github or another reference implementation similar to yours?
2. can you please take a screen shot from network f12 tools showing how things go over the wire in the two situations (my code and yours)?
thanks.

[2015-09-19 16:16] mrmofo commented on #23
@paulvanbladel  You can use the code here to create a back end:
[AspNetIdentity.WebApi GitHub](https://github.com/tjoudeh/AspNetIdentity.WebApi)

I'd love to pop up a site real fast that you could use but it is on my computer at work.

**We tried to use it several different ways to get it to work.**

1. Passing in the 'email' and 'password' to the Login function - this sets the format in the heade

[2015-09-19 16:41] paulvanbladel commented on #23
Euh... the login method has nothing to do with oauth. It is simple username password auth.
The authenticate method goes to the oauth endpoint.

[2015-09-19 22:01] theRemix opened #24 "getMe() doesn't send Authorization headers"
how do i use the auth.getMe() method to send the token in the Authorization headers?

![no Authorization Header](http://i.imgur.com/BpGsib6.png)
_it's 404 because i didn't bother creating the route yet before i figure out how to identify the user_

here's my authConfig.js

[code]

if i can get the token being sent in the Authorization header, then i can change `'profileUrl' : 'https://api.github.c

[2015-09-20 08:43] paulvanbladel commented on #24
Not sure what you are doing different, but in https://github.com/paulvanbladel/aurelia-auth-sample everyting works as expected.
When calling getMe I see:
![image](https://cloud.githubusercontent.com/assets/4886272/9979904/3cf2abc8-5f84-11e5-97d9-6adf0c54b71c.png)

Does your app.js looks as follows:
[code]

[2015-09-20 09:15] theRemix commented on #24
i added the constructor and activate steps, how do i inject httpClientConfig and appRouterConfig ?

[code]

[2015-09-20 09:21] paulvanbladel commented on #24
https://github.com/paulvanbladel/aurelia-auth-sample/blob/master/client/src/app.js

[2015-09-20 09:21] #24 closed

[2015-09-20 10:55] paulvanbladel commented on #23
Maybe this helps:
https://weblog.west-wind.com/posts/2012/Aug/16/Mapping-UrlEncoded-POST-Values-in-ASPNET-Web-API

[2015-09-20 16:08] mrmofo commented on #23
Hey Paul -

I had looked through the authenticate method

[code]

which calls `provider.open`:

[code]
Which looks great for a Facebook/Google/etc type auth where they control the login page and you provide that pop-up page, pass in the information it needs, and it calls back. -- and to be fair I could probably just create a 'universal' login page that is hosted by my oauth server and have it resp

[2015-09-20 18:34] paulvanbladel commented on #23
I think you gave the solution, jump to your server side account controller and provide the apropriate method.

[2015-09-20 19:21] theRemix commented on #24
yes i was missing the `httpClientConfig.configure()` step. everything works beautifully, thanks!

[2015-09-21 15:33] Skylertodd commented on #23
This is with my MonkeyPatch included in the original message
[code]
This is using formdata
[code]

This is with your original code.
[code]

[2015-09-22 06:59] paulvanbladel commented on #23
please update the .net backend as per https://weblog.west-wind.com/posts/2012/Aug/16/Mapping-UrlEncoded-POST-Values-in-ASPNET-Web-API,
in such a way it can receive a simple post request.

[2015-09-22 14:39] mrmofo commented on #23
Thanks Paul for looking into this - I really appreciate your time. However, to note - the link doesn't address the problem.

1. The write up is pretty old and discusses .Net Web API *1*
2. The backend code is Web API 2 hosted by OWIN
3. All the services for the backend already receive application/json requests

There is only one call that does not post the values in the body of the request using J

[2015-09-22 15:04] paulvanbladel commented on #23
Hi Mike,
These docs shed quite another light on the problem. I understand now the architecture and also the confusion. For me, the login method is just something completely apart from Oauth, whereas you want to use it in a oauth context with a specific 'grant_type'.
I'm a pragmatic guy, so very willing to update the code, but I want to be sure it doesn't break any existing things (which, at first

[2015-09-22 15:14] paulvanbladel commented on #23
Mike,

Please try aurelia-auth 0.9.16.
cheers

[2015-09-22 18:52] mrmofo commented on #23
Thanks Paul. Just an FYI. I did branch and took a shot at making the authenticate method more aware. I don't know if you want to take a look at it or not but I tried to change as little as possible with adding this option of oAuth2.

Best!
Mike

[2015-09-22 19:07] paulvanbladel commented on #23
Sure, i saw the update in readme.
Is it possible you did copy paste error? The alternative code sample is given twice i think.
Cheers

[2015-09-22 19:54] mrmofo commented on #23
Yup - looks like I screwed that up pretty bad. First time playing really playing with github - sorry about that!

Let me know what you think.

Best!
Mike

[2015-09-22 19:56] paulvanbladel commented on #23
Haha, no worries.
Will look into it tomorrow, getting late here in Europe.

[2015-09-24 16:29] devscott opened #28 "404 POST after popup window closes"
I am getting a 404 after a successfull authentication. The following appears in the console after the authentication popup window closes on the aurelia-auth-sample project

[code]

authConfig.js
[code]

[2015-09-24 17:37] paulvanbladel commented on #28
Hi,
Difficult to help remotely due to all dependencies (keys, custom provider).
I would suggest to put break point in exchangeForToken method and get the exchangefortokenurl and try to browse manually to that.

[2015-09-24 17:40] paulvanbladel commented on #23
Mike,
 Is 0.9.16 solving your issue?
Thx

[2015-09-24 17:41] devscott commented on #28
Thanks, I'll start looking there.

A follow up question if I may, Is there anyway to not open up in a popup?  I don't see a configuration value for this and even if I comment out display and popupOptions, I still get a popup.

[2015-09-24 17:43] paulvanbladel commented on #28
There is also a login method next to the authencate method

[2015-09-24 18:56] Skylertodd commented on #23
Paul, 0.9.16 seems to be working out.  Thank you for your support!

On Thu, Sep 24, 2015 at 10:40 AM paul van bladel <notifications@github.com>
wrote:

[2015-09-24 23:48] mrmofo commented on #23
Hey Paul - just echoing Skyler here - We are up and working with your code. Thanks a lot!

[2015-09-25 20:54] paulvanbladel commented on #28
Scott,
May i ask which backend you are using?

[2015-09-26 00:40] devscott commented on #28
I am using [IdentityServer3](https://github.com/IdentityServer/IdentityServer3).

I think the problem is I'm trying to do OpenID instead of OAuth or OAuth2. Correct me if i am wrong but It looks like aurelia-auth currently supports OpenID? If true, is there any plans to support it in the near future?

[2015-09-26 06:38] paulvanbladel commented on #28
Cool.
It is supported , google is openId connect and that works like charm.
Maybe try once this and debug through the code and read also the google spec.. by doing so the right insight will popup.

[2015-09-26 06:40] #23 closed

[2015-09-26 06:41] paulvanbladel commented on #28
The config of google mentions openid
Check baseconfig.js

[2015-09-27 14:36] digizen opened #29 "I think getPayload should be moved from utility Authentication class to main interface"
In my opinion, any non-trivial use-case for JWT authentication likely involves pulling data out of the token by the client. This can involve the specific permissions granted in the application, the username, the first name, or whatever else the server chooses to store in the token.

There's already a function that extracts the data, Authentication.getPayload(). I think this should be moved into th

[2015-09-27 16:12] paulvanbladel commented on #29
Sure, very good point.
Do you mind creating a PR?
Thanks a lot .

[2015-09-27 16:44] digizen commented on #29
Will do.

[2015-09-28 18:12] devscott commented on #28
Sorry for the delay in response. I wanted to do my homework first and make sure that I am not wasting your time.

I took a closer look at the google provider config within the baseConfig, as well as the google provider config from the Satellizer project. Everything is as it should be here, which isn't a suprise. I have always been able to authenticate and constent to the different scopes. The prob

[2015-09-28 18:31] paulvanbladel commented on #28
Hi scott,
So if i understand correctly, no valid response is received from your backend when the post request is sent. It looks strange to me the url is just the base url, there should be url part in the config.
Can you debug your backend?
Arent there any examples of the combi satellizer identityserver?

[2015-09-28 18:37] devscott commented on #28
I used the [implicit javascript client example](https://github.com/IdentityServer/IdentityServer3.Samples/tree/master/source/Clients/JavaScriptImplicitClient) from identityServer and things work without a hitch. Now this is using [their own open id Connect client](https://github.com/IdentityServer/IdentityServer3.Samples/blob/master/source/Clients/JavaScriptImplicitClient/oidc.js) to make the call

[2015-09-28 19:30] paulvanbladel commented on #28
The flows i am using in aurelia-auth-sample are the explicit ones. Look into the server map.

[2015-09-28 19:32] paulvanbladel commented on #28
See
https://github.com/sahat/satellizer/wiki/Login-with-OAuth-2.0

[2015-09-28 19:36] devscott commented on #28
Thanks. I will try that out and let you know.

[2015-09-28 19:44] paulvanbladel commented on #28
This is the best
https://www.digitalocean.com/community/tutorials/an-introduction-to-oauth-2

[2015-10-01 07:43] eaidland opened #31 "Login, token JWT"
Hi!

Didn't know where to write the question...so it ended up in issues...sorry :)

I need to have the grant_type: 'password', in the request. Did not know how to use the standard you've created.

So how should it be done?

This is working for me at the moment, but doesn't feel correct...
[code]

[2015-10-01 12:27] paulvanbladel commented on #29
new version created v0.9.17

[2015-10-01 12:27] #29 closed

[2015-10-01 12:31] paulvanbladel commented on #31
The login method accepts an object as first param.
My feeling is that you can just do:
auth.login(loginData), where loginData is your object with the grant_type.

[2015-10-01 13:30] eaidland commented on #31
With your standard:
[code]
{"error":"unsupported_grant_type"}

With my custom:
[code]
Ok..

Your version is sent as request payload... mine as Form data...

What's missing?

[2015-10-01 13:43] MikeGraf commented on #31
@eaidland - take a look at this ticket:https://github.com/paulvanbladel/aurelia-auth/issues/23

You need to serialize the object. We just used $.param() to do so - before sending it into the login method.

[2015-10-01 13:51] eaidland commented on #31
Perfect!

Now it's just the redirect that isn't working.

In my custom login i had to

		 		if (this.authService.config.loginRedirect) {
		          window.location.href = this.authService.config.loginRedirect;
		        } else {
		          window.location.href = window.encodeURI('/#welcome');
		        }

[2015-10-01 14:07] eaidland commented on #31
Sorry... my bad... It's working now :+1:

Thanks

[2015-10-01 14:07] #31 closed

[2015-10-05 11:12] alfkonee opened #32 "Aurelia Fetch Client Compatibility"
I really love this plugin but I would like to know if it's supported in the Aurelia-fetch-client.
If Yes: please provide a short guide on how to integrate it

[2015-10-05 16:14] paulvanbladel commented on #32
Thanks.
Don't think it would work.
But the internals of what is done on http level is not so advanced.
So i would be happy to design a fetch integration if you could check how similar stuff is done with fetch.
Cgeers

[2015-10-14 00:17] gregoryagu opened #33 "Inject is not a function"
After upgrading to the latest bits that were release today, I am getting the error "Inject is not a function." when aurelia-auth loads.

[2015-10-14 05:00] paulvanbladel commented on #33
Thankq for  nticing.
And did you upgrade from very previous version?

[2015-10-14 20:30] wichert opened #34 "Please update for latest aurelia release"
Currently installing aurelia-auth pulls in versions of `aurelia-framework` and `aurelia-router` that are outdated.

[2015-10-15 02:31] praga commented on #34
+1

[2015-10-15 06:17] paulvanbladel commented on #34
Sure, I'll update later today :)

[2015-10-15 06:18] paulvanbladel commented on #33
I'll make an update later today.
cheers

[2015-10-15 08:37] paulvanbladel commented on #34
Done.

[2015-10-15 08:37] #34 closed

[2015-10-15 08:38] paulvanbladel commented on #33
Done.
v0.9.18

[2015-10-15 08:38] #33 closed

[2015-10-15 10:17] wichert commented on #34
If I look at https://github.com/paulvanbladel/aurelia-auth/commits/v0.9.18 it looks like the v0.9.18 tag is missing the relevant changeset. In fact git tells me both tags reference the same changeset:

[code]

[2015-10-15 10:26] paulvanbladel commented on #34
i'm terribly sorry. My Bad. Sloppy mood today :)
I created now v0.9.19

[2015-10-15 19:29] schuetta92 opened #35 "Custom Config for http-client"
Just wondering if there is a way to configure the http client to add  "x.withInterceptor(new ResponseInterceptor())" for it so I get handle any response errors globally instead of handling them on each call.

I didn't find anything that allowed for customization, wondering if I just am missing it, and if not, if you have any plans to build it in?

[2015-10-16 06:34] paulvanbladel commented on #35
Hi Ashly,
I don't think we need to open up the internals of aurelia-auth to achieve that.
Can you please verify the following sample which is basically injecting the httpClient in the app.js and then setup the interceptor on the httpClient class. Classes in aurelia are by default singletons, so the setup which is done by aurelia-auth for the processing of the JWT token does not interfere with your

[2015-10-16 16:48] schuetta92 commented on #35
Hey Paul,

So after a little bit of debugging I got it working. Something that is pretty obvious but took me a bit to figure out is that my version of the http-client that I am using has to be the same version of the one you are using or it doesn't work.

Thanks for the help!

[2015-10-17 05:15] #35 closed

[2015-10-17 14:35] WisdomCorp opened #36 "Integration with Breezejs"
Can you provide some guidelines how to integrate it with breezejs and asp.net webapi on server-side.

Example -  if I take aurelia-nwind-breeze example (by Jeremy Danyow) how we can integrate this plugin with it.

[2015-10-18 12:03] paulvanbladel commented on #36
I don't think there is a touch point with BreezeJS (which is a great lib).
I have not example for asp.net web api, but what you need is very similar to the NodeJs example I provided : https://github.com/paulvanbladel/aurelia-auth-sample.

[2015-10-19 09:35] spideynr commented on #19
Just for a reference for future issues. I had the same issue with aurelia-auth 0.9.19
where i happened to have http-client 0.11.0 and newest aurelia-auth used http-client 0.12.0

When i switched http-client 0.11.0 for 0.12.0 everything worked as expected. Thanks !

[2015-10-19 19:21] gregoryagu commented on #33
Sorry for the delay on answering this, and thank you for updating.

However, I am still getting the same error message.  I just ran jspm update and all packages are up to day.  The version number of Aurelia-auth is 09.19.

    Loading plugin aurelia-auth.
Unhandled promise rejection Error: inject is not a function
	Error loading https://localhost:44300/jspm_packages/github/paulvanbladel/aurelia-au

[2015-10-19 19:29] paulvanbladel commented on #33
Strange.
Can you check if versions of jspm components are same in plugin and your project.
E.g. aurelia-http-client.

[2015-10-20 00:34] gregoryagu commented on #33
Yes, I did find some issues there.  Once I got everything on the same version, it started working correctly.  Thanks very much.

[2015-10-20 00:41] gregoryagu opened #37 "Typescript Definition File is not included"
I am trying to get Aurelia-auth working in a TS project.

In the app file, I am trying to get this line converted to something that will work in TS:

    import HttpClientConfig from 'aurelia-auth/app.httpClient.config';

I created `aurelia-auth.d.ts` and put this code in it:

     declare module 'aurelia-auth' {
     export class HttpClientConfig {
        configure():any;
        }
    }

Then I

[2015-10-20 04:55] paulvanbladel commented on #33
Happy you got it working.

[2015-10-20 04:59] paulvanbladel commented on #37
Can you make a PR for this?
Thanks.

[2015-10-20 10:09] gregoryagu commented on #37
Well, I gave it my best shot, but being fresh off the c# banana boat, it's over my head.  I tried taking the source and converting it over to ts, but there are too many things I don't yet understand about both TS and js to make it work.  I will give this some more thought and if I come up with anything useful, I will let you know.

[2015-10-20 12:57] paulvanbladel commented on #37
Thanks for giving it a try :)

[2015-10-27 18:11] michalru3ch commented on #32
Hi @alfkonee

I use Aurelia Fetch-Client on my project and this is how I made it work:

<b>app.js:</b>
[code]

Then you just regularly call fetch anywhere in your project, e.g.
[code]

I know that it's not that elegant as configuring http-client, but you could wrap it into some function so you won't bother with implementation details in your app.js.

@paulvanbladel: could you maybe provide us with

[2015-10-27 18:43] paulvanbladel commented on #32
Thanks michal, I will look into that.
Anyhow , unless i misunderstood,  fetch will become the de facto standard, rather then http client.

[2015-10-28 13:43] Devristo commented on #32
I have been using this snippet as a local module. Heavily inspired by the HttpClientConfig.

[code]
Usage:
[code]

Note: is lacking the Accept header configuration.

[2015-10-28 17:31] paulvanbladel commented on #32
@Devristo indeed, that's the way to go.
Implemented in latest release.
Still need readme update.
Cheers

[2015-10-29 09:13] paulvanbladel commented on #32
Readme updated.
See also here for a blog post explaining how to update:
http://blog.opinionatedapps.com/support-for-fetch-client-in-the-aurelia-auth-plugin/

[2015-10-29 09:13] #32 closed

[2015-10-29 09:14] #36 closed

[2015-10-30 12:01] Vidarls commented on #28
I might be getting a little late to the game here but: @devscott were you able to get aurelia-auth working with an identityserver 3 backend?

[2015-10-30 13:49] devscott commented on #28
@Vidarls Yes and No. [I forked the aurelia-auth project](https://github.com/devscott/aurelia-auth) and made some changes. Using the Hybrid flow, I was able to get things to work. I have an example of everything here. [Identity Server Examples](https://github.com/devscott/identityServer3Example). But this fork is not ideal. It is more of a collection of hacks to get things working.

The people over

[2015-10-30 14:07] Vidarls commented on #28
actually, I think it would be better not to use the full oidc client of thinktecture as it re-implements a lot of stuff already available in aurelia. Stuff like http client and promises. Adding the full oidc client / manager seems to add a quite a bit of extra code to dl for the client (bad for mobile clients in particular).

As I see it, there is not that much missing from the current aurelia-aut

[2015-10-30 14:35] devscott commented on #28
I agree it does re-implement a lot of things that Aurelia already does.  I have been substituting the Aurelia bits, certainly we would want to lean on Aurelia everywhere possible.

In my investigations, the major parts that are missing form aurelia-auth to do implicit flow are using the discovery endpoint and validating the tokens once we get them.

I have not worked with the popup on mobile yet,

[2015-10-30 15:06] Vidarls commented on #28
using the discovery endpoint would be valid for more than just the hybrid flow right? (also a very good idea, makes config much less verbose).

For validating the tokens, we could actually cheat, and just have the identityserver validate them for us using the validation endpoint. (saves some crypto js, and might be lighter on less capable devices)

[2015-10-30 15:09] Vidarls commented on #28
Would a sane apporach in the beginning be to add an explicit oidc provider (adding an extra file to oAuth1 and oAuth2.js) so we don't initially interfer with any existing deployments? And then later @paulvanbladel could (if he wanted) pull in the bits that may be useful for the existing providers?

[2015-10-30 15:17] devscott commented on #28
Yeah that is exactly what I am doing [here](https://github.com/devscott/aurelia-auth/blob/OpenIDConnect/src/OpenIDConnect.js).

[2015-10-30 16:05] Vidarls commented on #28
I got something working with two very simple alterations now:

in config of `auelia-auth` I set response type like this:

`responseType : 'id_token%20token',`

and I altered the `oAuth2.js` just directly in the jspm dl folder like this:

[code]

To force implicit flow.

I have not checked on decoding token accessing claims and such, but at least I got authenticated :smile:

Not sure on how to proc

[2015-10-30 16:06] Vidarls commented on #28
It will in any case be better to have a single codebase with some configurability than having two competing solutions (or even worse, to have many different ones in private repos...)

[2015-10-30 16:54] devscott commented on #28
@Vidarls yes I agree one code base is ideal and is something I am hoping for. Hopefully will hear from @paulvanbladel

[2015-10-30 19:22] paulvanbladel commented on #28
Sure, if you want to add the implicit flow... go on.
Looking forward to the result.

[2015-10-30 19:24] paulvanbladel commented on #28
Isn't implicit flow not covered already by:
... in oauth2.js
if (self.defaults.responseType === 'token') {
                    return oauthData;
                }

[2015-10-30 21:13] Vidarls commented on #28
yeah, but it does not handle id_token and the combination of id_token and token (both access token and profile info)

[2015-10-30 21:17] Vidarls commented on #28
Also, as @devscott mentions, the tokens are not validated against the signature. Also, it would be nice to include an option to use the well known discovery doc of oauth.

[2015-10-31 07:19] paulvanbladel commented on #28
I see. I have currently no time to dive into this, but i am confident in you guys.
Happe to merge a PR on this.
Would it make sense that i reorganize a bit aurelia-auth-sample, which has currently only a nodejs sample? I could create subfolders for each backend: plain asp.net web api, identityserver, ....
Please advise on that.
Thanks.

[2015-10-31 22:31] geimbar opened #39 "TypeError: Cannot read property 'message' of undefined"
If for some reason exchangeForToken fails then it is possible that err.content is undefined:

.catch(err => {
                    console.log("error :" + err.content.message);
                    throw err;
                });

Please remove the catch block in
https://github.com/paulvanbladel/aurelia-auth/blob/master/src/oAuth2.js

best regards, Arni Reginsson

[2015-11-01 07:21] paulvanbladel commented on #39
Hi,
Good catch :)
Updated in  v0.10.4

[2015-11-01 07:21] #39 closed

[2015-11-02 10:43] tommasop opened #40 "Nav bar isAuthenticated not filtering routes"
Hi, I'm stuck with this issue and cannot explain why it is not working as expected.

nav-bar.js

[code]

nav-bar.html

[code]

Even after the login the `isAuthenticated` method always gives a false value.

This is the auth-config.js and the token is present with the correct name in the localStorage

[code]

[2015-11-02 15:00] Vidarls commented on #28
I've spent some time looking at @devscott 's emerging solution, and I believe that refining his work and incorporating an oidc provider (in addtion to oAuth 1 and 2) is the best approach. Possibly pulling in his validation of tokens into the other two providers as well.

Main difference from pure oAuth and oidc seems to be supporting the separate id_token to gain access to profile claims from it.

[2015-11-03 05:57] tommasop commented on #40
Of course the answer is in not binding the router in the template but let Aurelia load the nav-bar.js!

[2015-11-03 05:57] #40 closed

[2015-11-03 06:44] paulvanbladel commented on #40
Glad you solved it.

[2015-11-06 04:39] hlj opened #42 "getPayload raise "Failed to execute 'atob' on Window: The string to be decoded is not correctly encoded.""
I found when getPayload was called with special token string that include more than one '-'  or '/', it raise an exception: Failed to execute 'atob' on Window: The string to be decoded is not correctly encoded.
Example:
   the encoded text of Chinese  '贾翼' is '6LS-57-8'.

Maybe there is a bug at this line:
https://github.com/paulvanbladel/aurelia-auth/blob/master/src/authentication.js#L42
It's onl

[2015-11-06 08:05] paulvanbladel commented on #42
Can you submit a pull request please?
thx

[2015-11-09 01:43] hlj commented on #42
I already submitted a pull request, had any problem?

[2015-11-11 02:28] nathanchase opened #45 "Aurelia Pre-Beta Release (11-10-2015) causes aurelia-auth to break"
It looks like this breaking change from the Aurelia pre-beta is causing an error in aurelia-auth:

*Router Pipeline steps now receive the NavigationInstruction instead of the NavigationContext. Pipeline steps should use instruction.getAllInstructions() and instruction.getAllPreviousInstructions() instead of context.nextInstructions and context.currentInstructions, respectively, to inspect current

[2015-11-11 12:40] #42 closed

[2015-11-11 12:45] paulvanbladel commented on #45
--> v0.11.0

[2015-11-11 12:45] #45 closed

[2015-11-11 13:28] paulvanbladel commented on #42
yeah, my apologies for the delay.

[2015-11-11 13:38] hlj commented on #42
no matter. thx

[2015-11-11 13:52] nathanchase commented on #45
Thank you!

[2015-11-12 08:34] RWOverdijk opened #48 "Tag"
Sorry, could you also tag this module? If it's taking too much time, you could add me as contributor.

[2015-11-12 08:56] paulvanbladel commented on #48
no problem, I'll do it tonight.

[2015-11-12 18:42] paulvanbladel commented on #48
Wesley,
Thanks for your help.
New tag generated v0.11.1.

[2015-11-12 18:42] #48 closed

[2015-11-13 08:28] schuetta92 opened #49 "Exposing getToken();"
I was thinking about exposing the getToken() method to be an available function, but was wondering if there is a reason it's not, if there is security reasons as to why it's not?

I am trying to download a file from my server and in order to do that I have to link it in the href, but I also need to verify that the user is authenticated so I was going to put the token in the query string?

so when

[2015-11-13 12:03] paulvanbladel commented on #49
Indeed, using the query string for sending the token to the server is a real anti-pattern.
Check the OWASP top 10 for more info. Using a query string is making things too overt, people can copy/paste urls and use your identity (at least as long as the token is not expired).
Normally, the token is automatically sent for every request to the server.

[2015-11-13 14:41] schuetta92 commented on #49
Okay that's kind of what I was thinking but it seemed like an easy solution.

Is there a way to do what I am looking to do above then? Since it doesn't send the token with the href request? If I try and use the httpclient to get the url the request doesn't download.

The response from the Http client get call response looks like this

[code]

[2015-11-15 15:52] paulvanbladel commented on #49
I found following in aurelia docs
If you want to navigate to the generated URL, use router.navigateToRoute('userDetail', { id: 123 }).

If you simply want to render an anchor in your view, you can use the route-href custom attribute.

<a route-href="route: userDetail; params.bind: { id: user.id }">${user.name}</a>
Extending HTML

[2015-11-17 13:50] RWOverdijk commented on #28
@Vidarls Considering how this has been solved in a PR, which has been merged, can this be closed?

[2015-11-17 13:57] Vidarls commented on #28
Not really, my PR was a dirty hack just to allow the an id_token to exist without crashing the app. I believe the work @devscott is doing should be considered the final solution to this as it will be a more comprehensive, secure and proper implementation.

[2015-11-17 14:00] RWOverdijk commented on #28
@Vidarls Thank you for bringing me up to speed. To make sure I understand, is @devscott still on this?

[2015-11-17 14:46] devscott commented on #28
@RWOverdijk This issue can probably be closed. We can create a new issue for adding support for an OpenIDConnect client.

Currently my availability is limited so any PR are greatly appreciated or if someone else is wanting to run with this, I would be more than happy to sit down them and discuss where things are at.

[2015-11-17 14:55] RWOverdijk commented on #28
@devscott Cheers. I'll close this one and create a new one. Thanks!

[2015-11-17 14:55] #28 closed

[2015-11-17 14:56] RWOverdijk opened #53 "Add support for OpenIDConnect"
Derived from #28 this module lacks proper support for OpenIDConnect.

[2015-11-20 21:54] link-emi opened #54 "Add header to login call from config"
In the createRequest call, how about allowing users to add a custom header (like Authorization) from config.
[code]

[2015-11-21 09:05] RWOverdijk commented on #54
@link-emi You can do that already. Here's an example of how I'm using it:

[code]

I use the fetch client because that's the new way of using it.

Does this help?

[2015-11-21 14:20] MarcScheib opened #55 "Push State makes redirect reload complete app on login/logout"
Hi Paul,

I have aurelias push state configured on my router config `config.options.pushState = true;`.

This causes the application to reload instead of simply navigating to the defined routes on login/logout.

Instead, when I use e.g. `this.router.navigate('/contents');`, the navigation is working without reloads.

In your code I can see you were testing the router navigate. Was it not working?

[2015-11-21 15:47] link-emi commented on #54
@RWOverdijk looks good. It looks like an alternative to the login() call in the authService.js. Are you planning to redo that module?

[2015-11-21 17:06] MarcScheib commented on #55
The logout() in authService seems to miss a call on resolve(). As soon as I add this, my logout described in the first post works as well.

[2015-11-21 20:33] RWOverdijk commented on #55
@MarcScheib As far as I know, you might want the reload so the browser will ask you to save the password.

I do agree that some flexibility here might be nice. I'd propose allowing a `false` value, which will leave the redirecting to the user.

[2015-11-21 20:34] RWOverdijk commented on #54
@link-emi I wasn't planning on doing that any time soon, no. But a PR adding more flexibility would be taken kindly :)

[2015-11-21 23:03] alfkonee opened #56 "Refresh Token Support"
Is there any plans to add refresh tokens support for aurelia-auth

[2015-11-22 12:20] MarcScheib commented on #55
@RWOverdijk Good point. Strange thing is that with my approach I get asked by the browser to store the password. But the prompt appears after the next navigation, not on the one caused by the login navigation.

[2015-11-23 07:49] RWOverdijk commented on #55
Are you sure it's not doing a hard redirect? If not I'm curious how you nailed that :) Anyway, feel free to open up a PR! :beers:

[2015-11-23 07:51] RWOverdijk commented on #56
@alfkonee I was planning on adding that near the end of my project (for now I don't need it). My project is on about 35% so I'll be working on it for at least the rest of the year. If you need it sooner, you can submit a PR. We can also talk about it on gitter if you're not sure where to get started.

[2015-12-03 08:48] #55 closed

[2015-12-04 15:10] vbauerster opened #59 "baseUrl setting of HttpClient gets overwritten."
When HttpClient is configured by the user, like the following code, aurelia-auth plugin overwrites baseUrl setting, if its configure method gets called after. The only way to prevent default baseUrl setting to be overwritten, is to make sure that HttpClient's configure method gets called last.
[code]
Also aurelia-auth plugin doesn't respect any user defined settings in HttpClient, it simply overwr

[2015-12-04 15:27] RWOverdijk commented on #59
@vbauerster Thank you for explaining what your problem is.

To be fair, the configure method supplied by aurelia-auth is optional. You could implement it yourself.

Could you tell me why the current approach is wrong?

[2015-12-04 15:27] #56 closed

[2015-12-04 16:00] vbauerster commented on #59
Oh, I didn't know that it is optional. Well I didn't tell it is wrong, just as a user of a plugin I didn't expect that my HttpConfig settings will be overwritten, and to figure out why I had to spent some time in debugger. The good approach is to respect settings (like baseUrl and headers) in global HttpClient if they were applied and use them in plugin's config. Maybe it worth to remove baseUrl s

[2015-12-04 16:02] RWOverdijk commented on #59
I see. Well, if you can provide a PR that's BC and does what you want it to do, I'm interested! :)

[2015-12-07 04:13] commercial-hippie commented on #59
I'm currently working around it like this:

[code]

[2015-12-07 08:14] SivaJonnala opened #60 "How can I call my web api controller method from the login with a post request."
I have controller method to check for the user credentials. I want to call this method with aurelia login. But I don't want to give the username and password from the header. I want access as a post method.
How can pass the username and password via filters from the JS webservice call in the login method.

[2015-12-07 08:34] RWOverdijk commented on #60
No idea what you're saying buddy. The login method already does a post

[2015-12-07 08:40] RWOverdijk commented on #59
That's, odd. Can't you set it in configure? Like so: https://github.com/SpoonX/aurelia-api#configuring-the-client

I know it's a different module, but it essentially does the same thing.

[2015-12-07 11:08] SivaJonnala commented on #60
Yeah I know its post method but with this login How can I hit my webservice ? How it will look into the Webservice Url which I have given in my baseConfig file to the "loingUrl" property.

[2015-12-07 12:02] RWOverdijk commented on #60
So you want to configure the url it should talk to?

[2015-12-07 17:45] estrica2000 opened #61 "after installing : jspm install aurelia-auth i get in chrome dev tool: http://localhost:4000/dist/nav-bar.html.js 404 (Not Found)"
after installing : jspm install aurelia-auth i get in chrome dev tool: http://localhost:4000/dist/nav-bar.html.js 404 (Not Found) , and i have no idea why suddently this error, it was working before installing the plugin. Tried to uninstall but the error pesrsists, any idea where i should look for to fix this?

the instalation looked like this:
jspm install aurelia-auth
     Updating registry cach

[2015-12-07 21:51] donniefitz2 commented on #40
I'm having this same issue, but I'm not binding the template. No matter what I do, the nav-bar.js is never used (nothing in it is called).

[2015-12-08 05:22] SivaJonnala commented on #60
The url shold talk to sql server database table in my system. Using the repository I have written in my buissiness layer.

[2015-12-08 05:57] SivaJonnala commented on #60
My context is how can I access the baseConfig file containing in my app i.e., src/auth/baseCofig.js

[2015-12-08 09:27] RWOverdijk commented on #61
@estrica2000 Could you try again?

[2015-12-08 09:29] RWOverdijk commented on #60
@SivaJonnala Perhaps we can talk about this over at gitter, I'm having a hard time understanding you due to the language barrier.

[2015-12-08 09:32] SivaJonnala commented on #60
Ok no problem @RWOverdijk

[2015-12-08 09:52] RWOverdijk commented on #60
After talking on gitter, I at least know this isn't an issue, but a question. Questions go on stackoverflow, or gitter :) I'm close this and handling this with you on gitter.

[2015-12-08 09:52] #60 closed

[2015-12-08 15:47] estrica2000 commented on #61
thank you! seems working now. What has been changed, or what was the problem for my own clarification ? thanks

[2015-12-08 18:14] RWOverdijk commented on #61
@estrica2000 jspm. You had installed forks because of a difference of dependencies.

[2015-12-08 18:14] #61 closed

[2015-12-08 20:20] estrica2000 commented on #61
thank you

[2015-12-11 09:22] SivaJonnala opened #64 "_this.XHRType() of undefined""
Hi , I am using Aurelia_Auth, In that I am called Login(email, password). I got the error _this.XHRType() of undefined; I did the debugging process I got the error at this moment..var xhr = _this.xhr = new _this.XHRType(); Is there any way to resolve this error? "

[2015-12-11 10:03] RWOverdijk commented on #64
@SivaJonnala Can you show me your code? Because this is standard functionality that works, so I'm curious how you're breaking it.

[2015-12-11 11:27] SivaJonnala commented on #64
@RWOverdijk Hi, I provided my code at this.
https://gist.github.com/SivaJonnala/cbdf2e7e773bb8eec01c
![image](https://cloud.githubusercontent.com/assets/10843991/11742723/2384f68e-a028-11e5-9369-88e37630a962.png)
Please look at the code once and I got the error at this moment of the pic

[2015-12-11 12:33] estrica2000 commented on #61
for some reason i thought the error had gone but n,  it's still there.  Basically i have this https://github.com/paulvanbladel/aurelia-loopback-sample

As soon has i do: jspm install aurelia-auth i get the eror on the title: http://localhost:4000/dist/nav-bar.html.js 404 (Not Found)

[2015-12-11 12:36] RWOverdijk commented on #61
@estrica2000 Probably the same reason. The dependencies are outdated.

[2015-12-11 12:38] RWOverdijk commented on #61
@estrica2000 Just tried, it works fine for me. Basically, when there are jspm forks, you have to straighten them out. Either a dep, or your project have outdated / different dependencies (versions).

You can check for forks by running `jspm inspect --forks`

[2015-12-11 12:43] estrica2000 commented on #61
i don't know enough to understand everything you said! anyway did you try in https://github.com/paulvanbladel/aurelia-loopback-sample ?
i will test it again the original version of aurelia-loopback-sample again now, anway, i just did this as you said and i get: jspm inspect --forks
     Installed Forks

                     npm:aurelia-binding 1.0.0-beta.1.0.1 1.0.0-beta.1.0.2
                  np

[2015-12-11 12:44] estrica2000 commented on #61
what is "straighten them out." in this case?

[2015-12-11 12:44] RWOverdijk commented on #61
@estrica2000 I did, and it works fine for me.

In your config.js, look up what's using the versions spat out by jspm inspect, and figure out what has to be updated.

For further questions please ask on gitter.

[2015-12-11 12:45] estrica2000 commented on #61
alright RWOverdijk

[2015-12-15 14:14] doktordirk opened #65 "manual build creates different code"
i'm having trouble building a copy of aurelia-auth.
after running npm install, jspm install, gulp build, the files in dist/system differ and the pugin fails (orignial plugin works fine)

eg in dist/system/baseConfig.js line 12-14 ib the original repo is
[code]
changed to
[code]
any ideas what i might do wrong?

[2015-12-15 14:59] RWOverdijk commented on #65
I'm not sure, not. I'm currently not capable of having a look, but I'll check this out as soon as I can. If that takes too long, I hope you'll be able to find it yourself :)

[2015-12-17 14:36] doktordirk commented on #65
i found the problem in parts. my jspm, babel ,or whatever version don't do default imports as specified

*fails*
import  authUtils  from './authUtils';

*works*
import { default as authUtils } from './authUtils';

you have a quick idea why, tell me please. else this issue can be closed i guess

[2015-12-19 08:35] Virtual-Machine opened #66 "Issue with latest version of Aurelia"
https://github.com/aurelia/dialog/issues/78

http://stackoverflow.com/questions/32260529/aurelia-globalizeresources-no-longer-available

Hello. Please see above two links.

Summary: I was forced up update my Aurelia to the latest version to get a dialog plugin to work and it appears to have broken something in regards to your plugin. It revolves around some API change involving globalizeResources

[2015-12-19 09:36] doktordirk commented on #65
found the problem. you don't import default exports properly.

you use
import {authUtils} from './authUtils';
which is a named import of authUtils

you meant
import authUtils from './authUtils';
short for the named import of default as
import {default as authUtils} from './authUtils';

another default export is app.httpClient.config.js where as  app.fetchClient.config.js is named. so issue (https:

[2015-12-19 09:43] doktordirk commented on #66
could be (https://github.com/paulvanbladel/aurelia-auth/issues/65)
try fixing the default imports by removing the curely brackets for authUtils and app.httpClient.config imports (which use default export)

[2015-12-19 11:07] RWOverdijk commented on #65
@doktordirk I made the mistake of accepting someone's "CS formatting" PR without thoroughly reviewing it.

[2015-12-19 11:09] doktordirk commented on #65
did cost me some time, but now i have my fist pull request merged. tx.  jippy!! ;)

[2015-12-19 11:09] RWOverdijk commented on #66
should be fixed after you update your dependencies.

[2015-12-19 11:09] #66 closed

[2015-12-19 11:10] RWOverdijk commented on #65
You should join gitter :)

[2015-12-19 11:11] #65 closed

[2015-12-19 11:15] gotokatsuya opened #69 "Electron"
Thank you for publishing awesome library.

Does it support electron ?

It mays not to work well..

[2015-12-19 11:16] RWOverdijk commented on #64
@SivaJonnala Sorry for the delay in answering. You're using the http-client? I recommend using the fetch client (also because I have more experience with that lib so it's easier to help). I have support for it in [my fork](https://github.com/spoonx/aurelia-auth) of aurelia auth. I'm also shifting my support for aurelia-auth over there

In can't see a whole lot wrong here to be honest. It has been

[2015-12-19 11:18] RWOverdijk commented on #69
@gotokatsuya Yes and no. It does work, but on login and logout you get redirected causing errors. I've created an issue for it [over at my fork](https://github.com/SpoonX/aurelia-auth/issues/2). I might backport it to this repo seeing how it's being used a lot.

[2015-12-19 11:18] #69 closed

[2015-12-19 17:01] gotokatsuya commented on #69
@RWOverdijk Thank you

[2015-12-20 08:19] Virtual-Machine commented on #66
Thank you so much! Your version bump made me notice I was somehow using a version of this plugin from roughly July despite my current project only being two weeks old. Still learning the ins and outs of jspm.

[2015-12-20 10:36] robertogonzalezdelarosa opened #70 "token not provided - bad request"
my app is working just fine but after some time the token is not sent with headers  which results in a bad request. Token exists in Local Storage

[2015-12-20 11:57] RWOverdijk commented on #70
@robertogonzalezdelarosa Did you configure the fetch client?

[2015-12-20 18:30] robertogonzalezdelarosa commented on #70
I'm using http client and works as expected, requests are made and server returns data successfully but after some time (around 30 min or an hour) token is not included in the following requests but token is visible in Local Storage. This is where http client is configured :

@inject(Router, HttpClientConfig, AppRouterConfig)

export class App {

  constructor(router, httpClientConfig, appRouterCo

[2015-12-21 09:12] RWOverdijk commented on #66
Glad I could help :)

[2015-12-21 09:14] RWOverdijk commented on #70
Are you using refresh tokens? :)

[2015-12-21 21:01] robertogonzalezdelarosa commented on #70
Hooo!!! you are totally right. Thank you very much!.

[2015-12-21 21:29] RWOverdijk commented on #70
No problem. That's a missing feature... I'm going to implement it on [my fork](https://github.com/SpoonX/aurelia-auth). I've stopped development on this repo because of the amount of changes I have planned.

[2015-12-21 21:29] #70 closed

[2015-12-21 23:40] AdamWillden opened #71 "Pass authConfig directly to plugin call (remove function declaration)"
Could the aurelia-auth code take the configuration directly as follows:
[code]

Rather than the function we have to pass in at the moment?
[code]

Or does what I'm proposing already work?

[2015-12-22 08:30] RWOverdijk commented on #71
@AdamWillden It could, and I can see why you'd want that. I'll ad it to my roadmap. If you wish to submit a PR, that's appreciated, too.

[2015-12-22 08:33] RWOverdijk commented on #59
I have some news on this. I found an issue in [fetch-client](https://github.com/aurelia/fetch-client/pull/31). Every time you call configure, it overwrites the baseUrl. It's unfortunate, but the case. A fix can be made for this.

[2015-12-22 08:35] SivaJonnala commented on #64
@RWOverdijk Hi, I have found a solution for that, yes you said the right thing using http-client. it is giving errors, with the login method I got the token, but the new problem I got is, Aurelia_auth is not sending the token for every network calls. So I have added the token explicitly to the web service calling. But one thing I realized is, If the aurelia_auth does not able to send the token, th

[2015-12-22 08:37] RWOverdijk commented on #64
@SivaJonnala This is functional behavior, so I'm sure you'll find what you need over there. :)

If you can't manage to get it working, you can hit me up on gitter!

[2015-12-22 08:37] #64 closed

[2015-12-22 08:38] SivaJonnala commented on #64
Ok. thank you very much

[2015-12-22 09:06] AdamWillden commented on #71
@RWOverdijk I looked into the source code to make a PR where should I push it (here or your SpoonX fork)? What's the general idea here? You're a collaborator for this project yet working on a refactored version. I'm intrigued!

[2015-12-22 09:08] RWOverdijk commented on #71
@AdamWillden I have some bigger plans for this module, so I forked it. I'm a collaborator on this repository so it won't die before paul finds time to maintain it again :)

[2015-12-22 09:08] RWOverdijk commented on #71
As to where you should submit the PR to, I'd prefer the SpoonX one, but either will do. :)

[2015-12-22 09:17] AdamWillden commented on #71
@RWOverdijk Okay thanks. I think bigger plans for this module are a good idea :+1:  I see your issue for a refresh token.

[2015-12-22 09:24] AdamWillden commented on #71
@RWOverdijk Sorry to keep pinging you. The change would be really simple so I'll do a PR. Do you want to retain support for passing a function or would completely changing it be okay? What's you preferred method to check for a function `if (typeof param === 'function')`?

Personally I'd make it a breaking change and accept people will need to make a small modification when they update - but it's n

[2015-12-22 09:26] AdamWillden commented on #71
Nevermind - I'm a doofus. it already checks if it's a function.

[2015-12-22 09:26] RWOverdijk commented on #71
@AdamWillden I've added you to our channel on gitter. I think that's a faster way to communicate.

[2015-12-23 22:26] RWOverdijk commented on #59
Closing this and moving to https://github.com/SpoonX/aurelia-auth

[2015-12-23 22:26] #59 closed

[2015-12-24 00:10] #71 closed

[2016-01-06 09:20] robertogonzalezdelarosa commented on #70
hello again. I was trying to add token refresh to aurelia auth plugin but there are some things that I don't understand one of them is why isAuthenticated() method is inside some sort of loop.
Can you please put me in right direction?

[2016-01-06 21:18] alexduan opened #75 "Question: Is the fetch client actually being used by the Auth Service or is the integration only so that we can use it?"
Sorry for the really dumb question, but I'm trying to configure everything with the fetch client, but looking at the code for AuthService, the requests made by aurelia-auth are all done using the http client. How does aurelia-auth know that you want to use fetch?

[2016-01-06 21:20] RWOverdijk commented on #75
@alexduan It doesn't. It's one of the things I fixed [in my fork](https://github.com/SpoonX/aurelia-orm). However, if you wish to use this repository in stead, you can submit a PR. I can merge it for you. :)

[2016-01-06 21:27] alexduan commented on #75
@RWOverdijk Thanks, I'll take a look. I think I also misunderstood what type of integration he was talking about. Looking more closely, I guess the integration is if I use the fetch client to make API requests, it will automatically inject the token from storage if auth is authenticated. The actual login and authentication process is still using the http client.

Clearly I have not had enough coff

[2016-01-06 21:29] RWOverdijk commented on #75
@alexduan You're absolutely right. I personally didn't like having another dep for that.

I'll consider this answered for now, if you wish to submit a PR you can reference this issue.

Thanks! :)

[2016-01-12 17:40] DiknT commented on #75
Can this issue please be reopened for more clarification? From the readme I get the opinion that injecting and configuring the http client is optional and fetch would be used by default. Apparently this is not implemented in this repo yet, currently there is not Auth-header send when using fetch. What's the status on this? Thank you.

[2016-01-12 20:14] paulvanbladel commented on #75
Yeah, a breaking change and simply giving up aurelia http client in favor of fetch client would be the best.
Feel free to submit PR.

[2016-01-12 21:36] RWOverdijk commented on #75
@DiknT Could you specify what wasn't clear? Because I think I was pretty clear. This repo uses HttpClient, and mine doesn't. I also said we'd accept a PR on this one, so I'm curious what isn't clear (so I can clarify it for the next visitor of this issue).

[2016-01-12 22:53] DiknT commented on #75
There are inconsistencies between the readme and the actual implementation which makes it difficult for newcomers to use this plugin out of the box before reading closed issues first and eventually switching to your fork.
There obviously was some confusion about the state of this repo the other day... I guess, I just wanted to hear Paul on this issue and his plan for this/his repo.
I don't mind cl

[2016-01-13 07:47] RWOverdijk commented on #75
@DiknT I understand. The misunderstanding was my mistake. To clarify then: you're right. There are some inconsistencies. I actively develop [on my fork](https://github.com/SpoonX/aurelia-orm), and I'm still maintaining the repo. I do accept and comment on pull requests until Paul finds the time to continue development on this repository.

I hope this clarifies things, happy coding!

[2016-01-13 07:47] #75 closed

[2016-01-13 23:11] jsobell opened #77 "Exception thrown when token is invalid"
A corrupted token in local storage is causing an 'Unexpected token' exception when parsed in authentication.js as the decoded value is invalid JSON:

[code]

This causes isAuthenticated() to fail rather than returning false.
All JSON.parse statements should probably have try catch.

[2016-01-14 00:43] alfkonee commented on #37
Started Working on a d.ts file for this library with #76 . Currently most of the types are `any` but still improving it for better intellisense support
Also working on improving the gulp tasks to enable releasing with the d.ts file

[2016-01-14 01:09] alfkonee opened #78 "Future Support for Refresh Tokens"
Is there any plan to support JWT refresh tokens in the future??

[2016-01-14 08:55] RWOverdijk commented on #78
@alfkonee It's [on the roadmap](https://github.com/SpoonX/aurelia-auth/issues/1) for our fork. If the changes we made don't conflict with this repository, we'll backport them. Also, help is welcome :) You can join us on [gitter](https://gitter.im/SpoonX/Dev) if you're interested.

[2016-01-14 08:55] #78 closed

[2016-01-14 09:14] RWOverdijk commented on #77
@jsobell Two questions:

1. How did the corrupt token get stored in the first place?
2. I just [pushed a fix](https://github.com/SpoonX/aurelia-auth/pull/19) for this on my fork. Could you test it?

[2016-01-14 09:47] jsobell commented on #77
@RWOverdijk ,

1. In my case I deliberately corrupted it as a test of someone attempting to hack it.
 My main concern is that if it becomes corrupt for any reason it is impossible to access the rest of the client app, as the aurelia-auth interceptor fails with an unhandled promise exception

2. Looks like someone beat me to it.

[2016-01-14 10:27] RWOverdijk commented on #77
@jsobell
1. When encoding it fails, it won't be set. But you're right, that's why I built the fix.
2. Yeah :) So does it work?

[2016-01-14 17:16] timbell opened #79 "switching between providers can cause authentication failure"
I get a failure if I issue calls in this sequence:

1. authService.authenticate("live", true) => OK
2. authService.authenticate("google", true) => OK
3. authService.authenticate("live", true) => KO

The problem, I think, is that the OAuth2 "defaults" member is not reinitialized when calling "open" so in my case a scopePrefix of "openid" left behind by the "google" call is used for "live" which cau

[2016-01-16 17:49] johntom commented on #40
Just saw this and think must have
  <require from="nav-bar.html"></require>
which will only load the html.
Change to   <require from="./nav-bar"></require>
and the js will get called.

[2016-01-16 17:50] RWOverdijk commented on #40
?

[2016-01-16 19:38] johntom commented on #40
Just giving donniefitz2 a  possible solution as to why the nav-bar.js was not getting used as I had made this mistake
[code]

[2016-01-17 19:24] DiknT commented on #40
took me some time to figure this out too. In the skeleton-navigation app in the app.js file it requires nav-bar.html which doesn't work. Like johntom says, removing the '.html' ending fixes this.
I wonder why it is there in the first place though...

[2016-01-17 19:28] donniefitz2 commented on #40
Thanks for posting this solution. It's a subtle thing and easy to miss. I think using the .html extension in the require will only include the view, but when you leave the extension off, it loads both view and view model.

[2016-01-17 19:51] DiknT opened #82 "include token header only for specific domains"
currently the jwt token is send with every fetch request, even if not required, e.g. within the oauth requests to social providers or any other domain you use fetch for. Proof me wrong but I guess this is bad practice.
What do you think about having kind of a whitelist in the config file, an array of domain-strings for which the token should be set only. In the interceptor then the request url cou

[2016-01-17 21:47] RWOverdijk commented on #82
@DiknT That sounds about right. Although a whitelist might be a bit hacky.

[2016-01-17 22:13] RWOverdijk commented on #40
@donniefitz2 That's right. :) Actually, it then starts looking for the .js file, which can be configured to use any other view if you want to. That's called the "moduleId".

[2016-01-17 23:28] Vidarls commented on #82
Would it not be possible to do an API connection class that encapsulates a separate fetch client instance that is configured with access token?

[2016-01-18 00:22] RWOverdijk commented on #82
@Vidarls That's what I'm doing over at [my fork](https://github.com/SpoonX/aurelia-orm). The next release will have this feature implemented. To give you an idea, it'll use aurelia api. https://github.com/SpoonX/aurelia-api/blob/master/doc/getting-started.md#multiple-endpoints

[2016-01-18 23:23] shivajiraot opened #83 "Open id connect: Response mode "Post" issue"
@paulvanbladel @RWOverdijk @devscott @Vidarls
Our Open Id connect server by default seems to be posting the data to redirect url. Fiddler shows that data is being posted to the url which it can not accept. error message: 'Cannot POST /'
Any way to get around this? the server supports other response modes too when specified in query. Which one should we use?

[code]
Config:
[code]

[2016-01-19 02:47] RWOverdijk commented on #82
fyi, this is the PR for the next release: https://github.com/SpoonX/aurelia-auth/pull/22

[2016-01-19 07:58] Vidarls commented on #82
That looks promising, also appreciate that you added typescript defs for the project.

But what is the relationship between this project and your fork @RWOverdijk ? Are you and @paulvanbladel collaborating, are you taking the project in different directions? Kind of hard to know if one is considered the official or if they should be considered to separate projects with separate goals?

Asking both

[2016-01-19 10:24] RWOverdijk commented on #82
@Vidarls I understand, I have a weird agreement with Paul about this. I'll explain:

I helped Paul maintain this module for a little bit because had a lot of stuff on his plate. At some point, I figured that the amount of work, and direction I was taking the module (play nice with multiple endpoints, my api plugin etc), were reason enough to make a fork. So I did. Now we (SpoonX) actively develop

[2016-01-19 20:11] Vidarls commented on #83
I think this depends on what flow is defined for the provider. If you're trying anything with code exchange it may trigger some post action. I don't know the flows protocol by heart, but if you're tying to use openid connect, you need to specify `responceType: "id_token%20token" to get both access token and id_token. Also you should be using implicit flow or hybrid flow if I recall correctly.

[2016-01-19 20:16] Vidarls commented on #83
See https://github.com/paulvanbladel/aurelia-auth/issues/28#issuecomment-152566938 where myself and @devscott were discussing similar issue

[2016-01-19 21:27] stephenhuey opened #84 "Customize parameter name for login method"
I'm enjoying aurelia-auth and I have a suggestion.  You have a long list of configurable items, e.g. tokenName, loginRoute, etc.  I see that the login method hardcodes the parameter name to email, and I'm wondering if you could make this configurable as well, e.g. in case my server is looking for  "username" instead.  Thanks!

[2016-01-19 21:41] RWOverdijk commented on #84
@stephenhuey You already can. Simply pass in an object in stead of a string :)

[2016-01-19 21:42] #84 closed

[2016-01-19 22:17] stephenhuey commented on #84
Ah, thanks!

[2016-01-20 11:14] paulvanbladel commented on #83
Yeah, bot aurelia-auth and the "mother lib" satellizer are confusing about if it's about oauth or openId connect.
Unfortunately I have few time the following period, but my plan would be to make a kind of reference implementation towards IdentityServer and use OpenIdConnect because for simple authentication that's the preferred way to do so. Read: http://leastprivilege.com/2016/01/17/which-openid-

[2016-01-22 07:54] Vidarls commented on #37
Any chance of doing a release including the d.ts file? @paulvanbladel

[2016-01-22 08:14] Slyfest opened #85 "login route: /login (authorizeStep.js:38) while trying to login"
I have the following problem with aurelia-auth, here is common login snippet that i use:
[code]
When i'm trying to login, i see desirable console output, but also there is a message "login route : /login" from authorizeStep.js:38
which states that i am actually not authenticated

[2016-01-23 15:45] alfkonee opened #86 "Discuss: Project Conversion to Typescript"
@paulvanbladel Would it be possible to convert this project into Typescript since most of the code is in ES6 I think you should explore this

[2016-01-23 16:01] paulvanbladel commented on #86
Great suggestion. Feel free also to submit PR. Thanks

[2016-01-23 16:03] paulvanbladel commented on #37
Sure, I'll do asap when I'm in the code.

[2016-01-23 16:54] alfkonee commented on #86
Ok Will Submit a PR soon

[2016-01-23 21:07] alfkonee commented on #86
@paulvanbladel I'm creating the TS port and I'm having some issues with the the deferred object in popup.ts event listener function
I'd like to know if this is a JS object or it's from a third party implementation of Promises I'm not too familiar with Promises Just yet haven't really taken a critical look at it please help

[2016-01-24 11:18] alfkonee commented on #37
#87

[2016-01-25 15:08] alfkonee commented on #70
@robertogonzalezdelarosa Join this (gitter)[https://gitter.im/SpoonX/Dev]  we're currently working on  the refresh token implementation

[2016-01-26 10:47] paulvanbladel commented on #37
done.

[2016-01-26 10:47] #37 closed

[2016-01-26 20:00] stephenhuey opened #88 "installation error"
Per the README, I'm trying to install aurelia-auth with the latest ES6 skeleton for Aurelia.  Is your README up-to-date on how to install with jspm?

https://auth0.com/blog/2015/08/05/creating-your-first-aurelia-app-from-authentication-to-calling-an-api/

Ryan Chenkie's blog post on August 5th suggests using

jspm install github:paulvanbladel/aurelia-auth

but I don't want to do that if it's not t

[2016-01-26 23:51] #88 closed

[2016-01-27 07:55] vamp opened #89 "Login in latest release not working"
```login('someStringForPayload')``` not working correctly, just because this string will be sent to server using json.

(required Content-Type - is "application/x-www-form-urlencoded; charset=UTF-8", desired - json)

[2016-01-27 12:19] paulvanbladel commented on #89
Are you referring to the resource owner flow.
The lib and the sample (aurelia-auth-sample) are about the authorization code flow.
Are you using a specific server implementation?

[2016-01-27 13:36] RWOverdijk commented on #89
@vamp Can the server be changed? The cors way (default) nowadays is json.

[2016-01-27 13:56] vamp commented on #89
@paulvanbladel, @RWOverdijk
I'm following the [oauth2 guideline](http://oauth.net/2/) and know, and using .net lib on server-side (so from my side everything is ok and version v0.11.7 works fine for me

[2016-01-27 13:58] RWOverdijk commented on #89
@vamp So 0.11.7 sends it as `application/x-www-form-urlencoded; charset=UTF-8`?

[2016-01-27 14:17] mikhailshilkov commented on #89
Yes, same problem for me. The server expects the request parameters to be form encoded, and they used to be form encoded in 0.11.7, but not the body is actually json. Need a way to override it, at least.

[2016-01-27 14:55] RWOverdijk commented on #89
I think I know which PR caused that. https://github.com/paulvanbladel/aurelia-auth/pull/80/files by @DiknT

The point there, is to use fetch-client in stead of HttpClient. The way it was tagged (with clear BC break) is wrong @paulvanbladel

It can be configured I think, might be in the docs: https://gist.github.com/bryanrsmith/14caed2015b9c54e70c3#configuration

[2016-01-27 15:01] mikhailshilkov commented on #89
Yes, the PR is correct, `body: json(content)` is causing the issue

[2016-01-27 15:03] RWOverdijk commented on #88
Does this mean you figured it out? :)

[2016-01-27 15:05] RWOverdijk commented on #89
Do you have the same issue with [this repo](https://github.com/SpoonX/aurelia-auth)? If so, we can provide a fix for it (configured).

[2016-01-27 15:12] mikhailshilkov commented on #89
I haven't see this repo before... What's the reason of this fork? I'm ok with original 0.11.7 version for now.

[2016-01-27 15:16] paulvanbladel commented on #89
Would changing from:
body: json(content) ===> body: content
not simply solve the problem?

[2016-01-27 15:25] RWOverdijk commented on #89
@paulvanbladel I suppose it could, that's why I asked @mikhailshilkov to test our fork :) It has all (most of) this stuff taken care of already.

[2016-01-27 15:44] mikhailshilkov commented on #89
@RWOverdijk No, that repo doesn't seem to work either. If I provide login/password pair, it will send json. If I provide an object, it will send json again.

[2016-01-27 16:03] mikhailshilkov opened #90 "Redirect back to initial page after the successful login"
**Change request to support this kind of scenario:**

1. User opens a bookmarked page, e.g. http://mysite.me/#/users
2. She gets redirected to http://mysite.me/#/login
3. After the successful login she is redirected back to http://mysite.me/#/users but not to the default page http://mysite.me/#/welcome

[2016-01-27 17:53] paulvanbladel commented on #89
@vamp can you point to the paragraph number in oauth spec you are referring to.
http://tools.ietf.org/html/rfc6749
Thanks a lot.

[2016-01-28 07:34] vamp commented on #89
@paulvanbladel, simply:
```body: typeof(content)==='string' ? content : json(content)```

and content-type for token request (and sample) was described in:
https://tools.ietf.org/html/rfc6749#section-4.3.2

[2016-01-28 08:16] mikhailshilkov commented on #89
@vamp This won't work. If you pass a request as string, the condition `(typeof arguments[1] !== 'string')` will be false, so content will be made out of login + password. I would change the condition then to check if password is `undefined`.
But even better, the content type should be configurable in plugin config.

[2016-01-28 08:26] paulvanbladel commented on #89
@mikhailshilkov  the check if the argument is not string is on the SECOND param, so in case of a call to the login method as follows will work, under the assumption we specify also the content type:
var creds = "grant_type=password&email=" + this.email + "&password=" + this.password;

        return this.auth.login(creds)
		.then(response=>{
			console.log("success logged " + response);
		})
		.ca

[2016-01-28 08:30] mikhailshilkov commented on #89
@paulvanbladel Ah, ok, my bad

[2016-01-28 08:34] paulvanbladel commented on #89
No worries @mikhailshilkov :)

[2016-01-28 09:31] paulvanbladel commented on #89
ok, fixed in 0.11.10.
No need for extra config, we presume that when the only param is a string, the password grant type is used and we add the relevant content-type and of course do  not json encode.
@vamp @mikhailshilkov  thanks for taking the latest release and check if it works as expected.
Cheers

[2016-01-28 09:31] #89 closed

[2016-01-28 09:36] paulvanbladel commented on #85
Can you check what happens on your server, because when it says you are not authenticated, it might mean that server side things are not as expected.
Try also https://github.com/paulvanbladel/aurelia-auth-sample.

[2016-01-28 09:36] #85 closed

[2016-01-28 09:37] paulvanbladel commented on #90
Yeah, that would be a great feature.
Feel free to make a PR.

[2016-01-28 09:37] #83 closed

[2016-01-28 12:00] paulvanbladel commented on #77
fixed.

[2016-01-28 12:00] #77 closed

[2016-01-28 17:19] TomSelleck opened #91 "authentication.js returns true if token contains more or less than 3 periods"
In authentication.js, when verifying the token, it has:

[code]

How does this make sense? I could understand:

[code]

Is this a mistake? How can we say a token is valid by having the incorrect number of "." ?

[2016-01-28 18:56] paulvanbladel commented on #91
No it's not a mistake, it's by design :)

In the context of the implicit flow, access tokens don't have always 3 parts.
See: https://github.com/sahat/satellizer/pull/592

cheers
paul.

[2016-01-28 18:56] #91 closed

[2016-02-06 09:09] J4ck4l0pe opened #93 "No Authorization header on getMe()"
I am trying to get my user data through the getMe() function, but it doesn't send the header.

config:
`var configForDevelopment = {
  httpInterceptor: true,
  loginOnSignup: false,
  baseUrl: '/',
  loginRedirect: '/',
  logoutRedirect: '/',
  signupRedirect: false,
  loginUrl: '/auth/login',
  signupUrl: '/auth/register',
  profileUrl: '/api/v2/users/me',
  loginRoute: '#/login',
  signupRoute:

[2016-02-06 10:29] paulvanbladel commented on #93
and is the token sent for other requests you make?

[2016-02-06 17:53] nathanchase opened #94 "Can't get aurelia-auth to bundle"
I've noticed that even if I add aurelia-auth to my bundles declaration, it still demands to find the two following files directly via its absolute path because system.js cannot find them:

/jspm_packages/github/paulvanbladel/aurelia-auth@0.12.1/app.httpClient.config.js
/jspm_packages/github/paulvanbladel/aurelia-auth@0.12.1/authFilter.js

the rest all seem to bundle just fine and any calls to the

[2016-02-06 18:02] paulvanbladel commented on #94
No idea.
In fact,/app.httpClient.config.js is not used any longer.
But that is probably not causing the problem.

[2016-02-06 18:07] Vidarls commented on #94
might be related to your import statements.make sure you import from aurelia-auth not paulvanbladel/aurelia-auth. Has bitten me before

[2016-02-06 18:14] nathanchase commented on #94
Here's what my app,js looks like currently. How should it be changed if app,httpClient.config.js is no longer used?

[code]

[2016-02-06 18:19] Vidarls commented on #94
i believe the intention is that fetch client config should be used as the http client is in effect deprecated. Might be possible that the http client config is missing frome some package config? (not really a javascript packaging and dependency management expert yet).

[2016-02-06 18:20] Vidarls commented on #94
How is your auth step import?

[2016-02-06 18:21] nathanchase commented on #94
[code]

[2016-02-06 19:07] nathanchase commented on #94
Ok, so I switched out my app,js to use fetch like so, and it got rid of the request to app.httpClient.config.js:
[code]

So now all that's left is authFilter.js.

[2016-02-06 19:07] paulvanbladel commented on #94
Indeed, we presume now fetch client.
Therefor aurelia http client is no longer present as dependency.
I should remover app.http client. Configuration from the sources.

[2016-02-06 19:08] nathanchase commented on #94
Is it perhaps that authFilter is imported into aurelia.globalResources that's causing the issue?

[code]

[2016-02-06 19:49] nathanchase commented on #94
FWIW, after bundling, this is what is automatically generated in my config.js:
[code]

authFilter is the only thing seemingly not included.

[2016-02-06 21:44] Vidarls commented on #94
Just import and authstep like normal and use it in route config

[2016-02-06 22:12] nathanchase commented on #94
What do you mean? How does that help this issue of authFilter not being included during bundling?

[2016-02-07 13:03] RWOverdijk commented on #94
@nathanchase You have to include it in your bundle config yourself.

[2016-02-07 14:32] nathanchase commented on #94
Ok. I added it explicitly and that seemed to work. Here's my complete Aurelia bundle:

[code]

Thanks, all!

[2016-02-07 15:03] RWOverdijk commented on #94
Bueno, glad I could help.

[2016-02-07 15:03] #94 closed

[2016-02-07 16:44] michalru3ch commented on #93
Hi guys.

I have similar problem and it seems to be caused by typo in authenticate.js. Please check line 77 - function getPayload tries to return ```parsed``` but you probably mean ```_parsed``` as defined on line 72.

Current implementation:
[code]

@J4ck4l0pe for now just replace it locally and we'll wait for update

[2016-02-07 16:46] RWOverdijk commented on #93
@michalru3ch True. We've [fixed that one](https://github.com/SpoonX/aurelia-auth/blob/master/src/authentication.js#L41,L54) already. A similar fix shouldn't be hard to write for this repository. Want to PR?

[2016-02-07 16:50] michalru3ch commented on #93
You can do it; be my guest. I haven't cloned this library (just using it in my Aurelia project).

[2016-02-07 16:51] #90 closed

[2016-02-07 17:11] paulvanbladel commented on #93
No problem, I'll fix it.
Thanks for reporting the bug.
paul.

[2016-02-07 17:24] paulvanbladel commented on #93
fixed in 0.12.2

[2016-02-07 17:24] #93 closed

[2016-02-07 17:25] #86 closed

[2016-02-08 07:34] doktordirk commented on #79
There a PR for it in the spoonx repo

[2016-02-08 08:21] paulvanbladel commented on #79
Cool. Thanks a lot. I'll take a look.

[2016-02-08 08:23] doktordirk commented on #79
I.ll make a PR later

On Mon, Feb 8, 2016 at 12:21 AM -0800, "paul van bladel" <notifications@github.com> wrote:

Cool. Thanks a lot. I'll take a look.

---
Reply to this email directly or view it on GitHub:
https://github.com/paulvanbladel/aurelia-auth/issues/79#issuecomment-181251966

[2016-02-08 11:37] J4ck4l0pe commented on #93
Thanks for fixing. I also called the `getMe()` before the `fetchConfig.configure()`. This might also have contributed to the problem.

[2016-02-13 09:48] #79 closed

[2016-02-18 02:58] mattdwen opened #96 "Accessing the response after login failure"
I'd like to be able to read the message returned from the server when a login call fails. Right now it only appears to be possible to read the `response.statusText` when catching login errors.

The server I'm programming against returns different reasons for the login failure as plain body text, e.g.

[code]

I can't see any way the response is exposed after the promise is rejected.

I've had a pl

[2016-02-18 12:43] paulvanbladel commented on #96
Thanks for the feedback.
Make sense.  May I ask how do you get the actual error message in login.js ?

[2016-02-18 13:41] paulvanbladel commented on #96
please try v0.12.8.

[2016-02-18 19:36] mattdwen commented on #96
Works great, thanks!

I see you've edited your comment, but I'm getting the response text with

[code]

When I was messing with **authService.js**, I tried to resolve the text in there, but it wouldn't resolve for some reason.

[2016-02-18 19:36] #96 closed

[2016-02-19 09:27] paulvanbladel commented on #96
thanks for the info, Indeed .text() works also. I used .json().
Take care Matt.
paul.

[2016-02-22 22:05] schuetta92 opened #97 "Error thrown from status"
Is there a reason that the status function throws the the statusText from the response when it errors?

Wouldn't it be better to throw the json from the response since the auth might have been rejected for different reasons?

[2016-02-23 07:52] paulvanbladel commented on #97
I think that's updated in the latest bits.
Can you check it out please?
Thanks

[2016-02-23 15:04] paulvanbladel commented on #97
Oops, you are right, StatusText is still returned :)
There was in the mean time PR for this.
Will be fixed soon Ashley.
Take care
paul.

[2016-02-23 15:15] schuetta92 commented on #97
I updated to 12.8 and that throws the whole response, but it looks like in master it is throwing response.statusText

[2016-02-23 15:23] paulvanbladel commented on #97
yeah, I merged too quickly the PR.
Is 12.8 doing what i should do for you?

[2016-02-23 18:03] schuetta92 commented on #97
Yes, 12.8 has the behavior I would expect.

[2016-02-24 11:34] #97 closed

[2016-02-25 21:18] simeonoff opened #100 "Aurelia Router breaks after aurelia-auth installation"
I get the following immediately after I do jspm install aurelia-auth:
[code]
This is on a new aurelia-skeleton(latest build), so everything is as is. Am I doing something wrong?

[2016-02-25 21:40] simeonoff commented on #100
You can close the issue, turns out I had to run the

to prevent the installer from doing overrides of the local packages.

[2016-02-26 07:02] #100 closed

[2016-03-02 09:04] Ma3yTa opened #102 "decomposeToken is not defined in chrome console"
Steps to reproduce:
1) login
2) reload page
[config.txt](https://github.com/paulvanbladel/aurelia-auth/files/154363/config.txt)

I think it releated to new aurelia update http://blog.durandal.io/2016/03/01/aurelia-early-march-2016-update/

[2016-03-02 10:11] Exsilium122 commented on #102
https://github.com/Exsilium122/aurelia-auth/commit/1f7fa2d9311c4a3ef2ef8ed9e401c1531a70b80f
Does this commit fix your problems?

[2016-03-02 10:19] Ma3yTa commented on #102
Yes. It fixed.
Thanks

[2016-03-02 10:25] paulvanbladel commented on #102
@Exsilium122 thanks, i found the bug in the mean time and pushed new tag v0.12.13.

[2016-03-02 10:25] #102 closed

[2016-03-07 16:50] jasonhjohnson commented on #100
I'm getting this issue too. Tried uninstalling aurelia-auth and running `jspm install aurelia-auth --lock` with no luck.

[2016-03-07 16:52] paulvanbladel commented on #100
Try cleaning map section in config.Js and run jspm install.
Aurelia Auth sample seems to work fine

[2016-03-07 17:14] jasonhjohnson commented on #100
@paulvanbladel  That did the trick. Thanks.

[2016-03-10 09:24] #53 closed

[2016-03-13 03:53] SivaJonnala opened #103 "Question for redirection to the anonymous page or any other page with default access token without going to login page.... ?"
Hi, I developing a demo app which is having a login page., By default I am loading to that default page. But For some pages I want to go with the url directly redirect to that page. But aurelia defaultly loading to the login page. How  can I redirect to the anonymous url or some url with my token directly without going to Login page.

Can anyone explain me or give a sample ?

[2016-03-15 16:36] richardbartley opened #104 "Query: Unsupported grant type error"
NEWBIE question.

Trying to use the latest skeleton app and aurelia-auth and am stuck trying to authenticate against a web api project I have.

Following the login.js script,
[code]

the request to my URL is being made but it does not appear to be sending the grant type, username or password.

My response from Fiddler
[code]

My authConfig.js looks like this;

[code]

Any help or pointers apprecia

[2016-03-15 16:46] RWOverdijk commented on #104
@richardbartley Use an object in stead of a string.

[2016-03-15 16:59] paulvanbladel commented on #104
Please take a look at  https://github.com/paulvanbladel/aurelia-identityserver-aspnetcore

[2016-03-16 11:22] richardbartley commented on #104
Object seemed to make no difference.

Raw view of what ends up getting sent is;

[code]

I can authenticate the old classic way with a simple ajax call.

[code]

I can see what the fetch method should be doing in authService.js...just for me doesn't want to play.  Clearly I must be doing something wrong here.

[code]

[2016-03-16 13:30] RWOverdijk commented on #104
@richardbartley Perhaps your problem is with the types the server accepts? I'm pretty sure that using an object works (over at our fork anyway, because that's how we use it, too).

The data you pasted doesn't include the payload it's sending to the server, could you try logging that for us?

[2016-03-16 13:51] richardbartley commented on #104
CORS related issue maybe?
Fetch API cannot load https://localhost:44301/Token. Response for preflight has invalid HTTP status code 400

[2016-03-16 14:02] richardbartley commented on #104
Rejecting the preflight OPTIONS request.....

[2016-03-16 16:23] jasonhjohnson opened #105 "Unsupported BodyInit type"
So, in IE 9 when I tried using this plugin I got the following error after authenticating in the popup:
`Blob is undefined`

So, I figured a Blob polyfill might be needed and threw this in my pages header: `https://rawgit.com/eligrey/Blob.js/master/Blob.js`

That seemed to fix the Blob error. But then, got a different error:
`Unsupported BodyInit type`

I thought it might have something to do with

[2016-03-16 20:39] jasonhjohnson commented on #105
I think it may be related to this issue: https://github.com/facebook/react-native/issues/2538.

Perhaps adjust the POST in your login() method to something like:

[code]

[2016-03-16 20:50] jasonhjohnson commented on #105
Actually, it's probably needed in the exchangeForToken method of oauth2.js

[2016-03-17 12:37] jasonhjohnson commented on #105
I got this to work in IE 9 and other browsers by changing the POST in exchangeForToken to the following:

[code]

Could you incorporate this change?

Thanks,
J

[2016-03-17 12:51] mbroadst commented on #105
@jasonhjohnson put together a PR we'll get it in

[2016-03-17 13:00] jasonhjohnson commented on #105
@mbroadst Sure thing. Also, you guys may not care about IE 9 (that sounded snotty but I didn't mean it that way), but in addition to the change above I had to use two polyfills:

[code]

[2016-03-17 13:04] mbroadst commented on #105
@jasonhjohnson yeah I think that information is probably better placed directly on the README, I don't think it makes sense to include the polyfill since most browsers already support those (plus this is more related to `fetch` rather than `aurelia-auth`)

[2016-03-17 13:07] jasonhjohnson commented on #105
@mbroadst Agreed. https://github.com/paulvanbladel/aurelia-auth/pull/107

[2016-03-23 09:25] richardbartley commented on #104
For anyone else struggling with CORS and Web Api when using fetch, eventually I found the problem was that the preflight OPTIONS request was being rejected on the server.  Doing a $.ajax call always worked as no pre-flight was made (in Chrome at least).  Just fetch caused the issue.

The way to resolve this was ultimately solved here [http://stackoverflow.com/questions/25794439/webapi-2-with-owin-

[2016-03-23 09:25] #104 closed

[2016-03-23 09:32] paulvanbladel commented on #104
@richardbartley  thanks a lot for the update Richard.
Take care.
paul.

[2016-03-23 12:17] soarer25 opened #110 "package install error with latest version 0.13.1"
Hi,

I'm getting an error during install with the latest version of the package. I was trying this with the latest Aurelia skeleton (beta1.2.0). Yesterday I had successfully added the aurelia-auth package to a project. This only happened today, I guess with the latest version?

Any ideas what the cause might be ?

The output from the jspm install is

C:\Aurelia\skeleton-navigation-1.0.0-beta.1.2.0

[2016-03-23 13:32] paulvanbladel commented on #110
sorry for the trouble.
try v0.13.6 (latest).
cheers
paul.

[2016-03-23 13:32] #110 closed

[2016-03-23 14:08] soarer25 commented on #110
Great stuff - thanks a million for that - (great package by the way)

On 23 March 2016 at 13:32, paul van bladel <notifications@github.com> wrote:

[2016-03-23 14:52] dautushenka opened #111 "Error on install via jspm"

[2016-03-23 15:15] paulvanbladel commented on #111
should be solved in v0.13.6. Can you verify please?

[2016-03-23 18:16] #111 closed

[2016-03-24 09:06] johnraz opened #112 "Changelog is wrong"
Hi there,

Am I missing something or the [changelog](https://github.com/paulvanbladel/aurelia-auth/blob/master/doc/CHANGELOG.md) is wrong?

[2016-03-24 09:20] paulvanbladel commented on #112
sorry, should give more attentions to these details :(

[2016-03-24 10:48] johnraz commented on #112
No problem at all, I was just wondering and figured I should let you know ;-)

[2016-03-24 11:26] paulvanbladel commented on #112
yeah, I should check how this works, no doubt it's easy :)

[2016-03-24 11:50] johnraz commented on #112
Yep, I would have kept the issue open though until it is resolved, for further reference for others that may be wondering ;-

[2016-03-24 12:07] paulvanbladel commented on #112
feel free to submit PR of course :)

[2016-03-24 12:45] RWOverdijk commented on #112
@paulvanbladel `gulp prepare-release`

https://github.com/paulvanbladel/aurelia-auth/blob/master/build/tasks/prepare-release.js#L15

You have to change your commit style though: https://github.com/SpoonX/about/blob/master/CONTRIBUTING.md#commit

To see how that works you can check out ours: https://github.com/SpoonX/aurelia-authentication

[2016-03-25 09:53] paulvanbladel commented on #112
@johnraz . gulp-conventional-changelog works better.
I'll adopt the commit message conventions and we'll get **from now on** better change logs.
Thanks for bringing it to my attention.

[2016-03-25 09:53] #112 closed

[2016-03-25 10:09] johnraz commented on #112
No problem thanks for looking into it.

[2016-03-30 08:04] TGMorais opened #113 "Webpack bundling issue"
Hi,
I've been trying to use this plugin but I can't seem to get past the same error.

I've seen this error mentioned in other issues, but they all involved jspm, so i'm not quite sure how to fix it with the webpack skeleton.

I'm following the readm, and configuring the plugin the so:

app.js
[code]

I don't do anything else, (since I get the error just by trying to include the plugin).
This is th

[2016-03-30 08:56] RWOverdijk commented on #113
@TGMorais We've fixed this is our fork by [importing the authFilter in index](https://github.com/SpoonX/aurelia-authentication/blob/master/src/aurelia-authentication.js#L9) It's a simple fix to apply.

**Update**:
I've created a [quick PR](https://github.com/paulvanbladel/aurelia-auth/pull/114) for this repository. Just needs to be merged and built.

[2016-03-30 09:48] paulvanbladel commented on #113
@TGMorais  which version of aurelia-auth are you using on npm?

[2016-03-30 10:48] paulvanbladel commented on #113
make sure you install via npm when using webpack:
npm install aurelia-auth
I tested this 2 minutes ago with a fresh installation and it works.

[2016-03-30 11:28] TGMorais commented on #113
@RWOverdijk great, thanks! I will take a look at your fork!

@paulvanbladel
I'm using `"aurelia-auth": "^2.0.1"`

Yes it does, I ran `npm install aurelia-auth --save`, exactly as is was on the readme.

I have however worked around the issue with a little help from someone in gitter,
In webpack config I did this:

[code]

And now it seems work fine.
I'm not super familiar with aurelia yet, so I don

[2016-03-30 12:27] paulvanbladel commented on #113
@TGMorais indeed very strange. Webpack is also pretty new for me. My webpack.config does not containt that IncludeSubModules section.
In case you want to compare with my version:
https://github.com/paulvanbladel/aurelia-identityserver-aspnetcore

[2016-03-30 14:22] TGMorais commented on #113
@paulvanbladel
I just pulled your repo and it does indeed work!

Then, I pull a fresh skeleton from the aurelia skeleton repo and just installed aurelia-auth and the problem occurs though.

The only difference I could see is the `aurelia-wepack-plugin`, `aurelia-loader-wepack` and `aurelia-bootstraper-webpack` modules that are different versions.
On your repo these are on `0.1.1` and the current s

[2016-03-30 14:40] paulvanbladel commented on #113
Can you please try the very latest version of aurelia-auth ?

[2016-03-30 14:52] TGMorais commented on #113
Which one ? I'm simply pulling from npm using `npm install aurelia-auth`, I assume the is the latest one no?

[2016-03-30 21:09] martijnboland commented on #113
A little clarification:

includeSubModules is a new option for the aurelia-webpack-plugin to enable loading of extra files in a plugin/module package (apart from the 'main' js file).

For example, just after adding aurelia-auth from npm with 'npm install aurelia-auth --save', aurelia can only resolve './aurelia-auth' but not './aurelia-auth/auth-filter'. With the includeSubModules option you basic

[2016-03-30 21:14] mbroadst commented on #113
@martijnboland thanks for the clarification here, can you shed some light on why e.g. `templating-resources` works out of the box? As you can see [here](https://github.com/aurelia/templating-resources/blob/master/src/aurelia-templating-resources.js#L33) it's doing the same thing `aurelia-auth` (specifically in the case of the `SanitizeHTMLValueConverter`)

[2016-03-30 21:20] martijnboland commented on #113
Yes, this works because these are already included with the webpack plugin by default. https://github.com/aurelia/webpack-plugin/blob/master/index.js#L37-L40

[2016-03-31 06:58] paulvanbladel commented on #113
@martijnboland : Kudos for all your brilliant work on webpack. Love it. I just have one, maybe aesthetic, concern about the way we configure now the inclusion of extra material. In a sense this should be the responsibility of the 'producer' (i.e. the plugin), rather than the 'consumer' (the app using the plugin). The current approach makes things less black box, as a user of the plugin I need to k

[2016-03-31 06:58] #113 closed

[2016-03-31 07:19] martijnboland commented on #113
@paulvanbladel completely agree with your concern. I've really struggled with this, but to this point, I can't think of anything better (or less invasive). Webpack is just fundamentally incompatible with Aurelia's loader abstraction and the webpack plugin is basically one huge hack to work around this incompatibility.

[2016-04-02 14:56] davideferre opened #115 "aurelia-history.js problem"
When I add aurelia-auth plugin in my aurelia project I see this error in console:
`aurelia-history.js:21 Uncaught (in promise) Error: History must implement activate().`

I found that the error is in config.js in the aurelia-router map, because actual config.js contains:
[code]
but for fixing the problem I have to set:
[code]

[2016-04-05 18:04] michalru3ch opened #116 "Bearer present twice in header"
Hi Paul / the team.

Yesterday I've upgraded aurelia-auth in my project from 0.12.15 to 2.1.3, did the necessary changes based on documentation and sample app and I'm experiencing quite strange behavior:

1) Bearer is present twice in every request causing it to fail (HEADER: authorization:Bearer xyzValue,Bearer xyzValue)

2) When I comment following line `.withInterceptor(auth.tokenInterceptor)`

[2016-04-05 18:12] michalru3ch commented on #116
One more thing I forgot to mention: the only difference between docs & sample app compared to my project is that I didn't create CustomHttpClient. I'm configuring Aurelia's HttpClient, because all my calls  require authentication.

[2016-04-05 18:33] paulvanbladel commented on #116
Hi,
Are you sure you are calling
this.fetchConfig.configure();

Only once?

[2016-04-05 18:41] paulvanbladel commented on #116
Anyhow, we can build in something to allow only one config.

[2016-04-05 18:47] michalru3ch commented on #116
Yes, I'm calling this.fetchConfig.configure() - in activate method of app.js which is executed just once for whole life cycle of the application.

What about point #2. What/who is responsible for adding the Bearer?

[2016-04-05 18:51] paulvanbladel commented on #116
You wrote that you did als upgrade of the config up to the documentation,  but there is no real change necessary when going to 2.x

[2016-04-05 18:55] michalru3ch commented on #116
Based on documentation I changed following:

1) added `headers: {
            'Accept': 'application/json',
            'X-Requested-With': 'Fetch'
          }`

2) Instead of including 'fetch' I followed recommendation to include 'isomorphic-fetch' instead

[2016-04-05 18:57] michalru3ch commented on #116
`.withInterceptor(_this.auth.tokenInterceptor)` was causing problems so I left it out

[2016-04-05 19:14] mbroadst commented on #116
@paulvanbladel @michalru3ch I think this line needs to change from `.append` to `.set`: https://github.com/paulvanbladel/aurelia-auth/blob/master/src/authentication.js#L163

[2016-04-05 19:26] michalru3ch commented on #116
Hmmm, so once I've created CustomHttpClient as describe in documentation and present in sample app, everything started to work correctly - I can use `.withInterceptor(_this.auth.tokenInterceptor)`, Bearer is present once. When I left this line out, no Bearer was attached as expected.

So it means that configuring/modifying Aurelia's httpClient is not supported anymore; you have to derive from it a

[2016-04-05 19:39] paulvanbladel commented on #116
No worries, Maybe the docs are not clear enough.
You can modify standard http client,  but when doing so you should not call this.fetchConfig.configure();

[2016-04-05 19:47] paulvanbladel commented on #116
@mbroadst yep definitely.  That makes things "idempotent".

[2016-04-05 19:55] michalru3ch commented on #116
One last question: Is it necessary to import HttpClient and 'isomorphic-fetch' into every model where I want to use CustomHttpClient? CustomHttpClient imports them so it seems redundant to me.

[2016-04-05 20:00] paulvanbladel commented on #116
Indeed.

[2016-04-05 20:17] mbroadst commented on #116
@michalru3ch no you shouldn't have to. `isomorphic-fetch` one time will be sufficient to "install" the polyfill, and your `CustomHttpClient` should be injecting `HttpClient` and therefore you're dealing with singletons there.

[2016-04-05 20:20] michalru3ch commented on #116
Yes, I thought so... Paul, please update aurelia-auth-sample, so other developers won't repeat it everywhere.

Thank you both; it was please to code with you :)

[2016-04-06 09:58] #116 closed

[2016-04-08 14:43] Manuel-S opened #117 "Social login on IE on localhost doesn't work"
The reason is that `window.open(...)` doesn't return a `window `object when you're on `localhost `and _Protected Mode_ is on (default).
Don't think that can be fixed, but it should at least be mentioned. Cost me more than an hour to find what's wrong.

[2016-04-12 12:32] jpsala commented on #113
@paulvanbladel, thanks a lot for your work, I'm trying aurelia with webpack and I love it.

Do you think there will be changes, I mean deep changes somewhere to support webpack?

[2016-04-12 13:02] paulvanbladel commented on #113
@jpsala thanks but the real heavy lifting is the work of maestro @martijnboland ☺

[2016-04-12 21:19] jpsala commented on #113
he, yep, my error, thanks @martijnboland! (and thanks @paulvanbladel for let me know)

[2016-04-18 14:01] sethom opened #118 "Asp.net Web Api 2"
I understand that aurelia-auth is a port of Satellizer. Does this mean I can assume that if Satellizer supports a feature, aurelia-auth does as well? Specifically I'm interested in the Asp.net Web Api 2 compatibility that was added to Satellizer in May 2015 (https://github.com/sahat/satellizer/issues/219) and whether this has made it over to aurelia-auth as well.

Thanks!

[2016-04-18 14:28] paulvanbladel commented on #118
I'm using web api here with aurelia-auth:
https://github.com/paulvanbladel/aurelia-identityserver-aspnetcore

[2016-04-18 16:42] sethom commented on #118
Thanks Paul. When I build the solution in Visual Studio it's giving me the error that "The specified path, file name, or both are too long. The fully qualified file name must be less than 260 characters, and the directory name must be less than 248 characters." when doing "Building directory '/node_modules/babel-preset-es2015/node_modules/babel-plugin-transform-es2015-computed-properties/node_modu

[2016-04-18 17:28] paulvanbladel commented on #118
Yeah, for me, reasons to buy a mac☺
When i Download in a short root folder  it  works.

[2016-04-18 19:01] sethom commented on #118
Ah! Oh how I wish I got to use my iMac for my work. My company forces me to use Windows though. Maybe with all the new cross platform stuff like Xamarin becoming more affordable he'll eventually let me switch.

I'm seeing some fixes though for the long path issue. I'll give those a try.  Thanks for all your hard work on your aurelia plugin!

[2016-04-18 19:45] paulvanbladel commented on #118
Thanks!
Maybe your version of npm is not recent enough?

[2016-04-20 11:01] Vidarls commented on #118
Update to node 5.x and you'll get npm 3.x which uses a flat dependency structure, no more deep nestings.

Just delete your modules folders and re-run npm install / jspm install and you should be good to go (i think)

[2016-04-21 06:26] paulvanbladel commented on #118
Thanks @Vidarls  for being more precise than I was.
@sethom that fixed the problem for you?

[2016-04-21 06:26] #118 closed

[2016-04-22 15:57] dmason511 opened #119 "Using the accessToken"
I am requesting a response type of 'id_token token' from IdentityServerv3 and getting  the expected id_token and access_token.
I am successfully storing the id_token in localStorage but the access_token is not.
I found the section in the authentication.js file that addresses the accessToken
but was unable to find anywhere that it actually stores the token.

  Authentication.prototype.setToken = fu

[2016-04-26 14:48] dmason511 commented on #119
Found it.   tokenName : 'access_token', instead of 'id_token' in authConfig file.

[2016-04-26 14:48] #119 closed

[2016-04-26 17:44] paulvanbladel commented on #119
Sorry I missed you initial question.
Glad you solved it.

[2016-04-29 20:33] Narven opened #120 "The parameter app_id is required"
When I'm using facebook account to authenticate, I'm getting on the facebook popup box:

The parameter app_id is required

Where do we set that app_id?

[2016-04-29 21:46] #120 closed

[2016-05-02 16:41] CD-UNCC opened #121 "Feature request: redirect / logout on expiration"
Love the plugin. I think it would be great to be able to set a redirect or function for when the JWT expires. The Nav bar will update automatically and auth: true routes will vanish. But if you are on an authenticated route when the token expires you can simply remain there.

[2016-05-02 16:57] andreasohlund commented on #117
Got hit by this as well, thanks for the heads up

[2016-05-03 19:17] sethom commented on #118
Thanks, the node 5.x upgrade works fine. Thanks for the help!

[2016-05-10 07:19] Tseberechts opened #122 "Content-Type header on json login"
How can I get a header `'Content-Type': 'application/json'` when logging in with an object?

[code]

When I do this, no Content-Type header is sent, I really need this, otherwise my request will fail.

Edit: typo

[2016-05-10 09:09] lukechilds opened #123 ".getToken() returns null after logout and log back in."
I've just come back to an old project that was launched about 6 months ago. Updating `aurelia-auth` causes users who have logged out to not be able to log back in.

I'm manually setting the headers in my API service:

[code]
(`this.auth` is `import {Authentication} from 'aurelia-auth/authentication'`)

If a user logs out and then logs back in again `this.auth.getToken()` returns null so my JWTs ar

[2016-05-10 10:36] lukechilds commented on #123
Woops, just realised you're on `2.1.3` now. Tried updating but I just get router errors :(

I'll probably just stick with `0.11.3` for the time being, we've got some major refactoring planned in the not too distant future so I'll look at upgrading then.

I couldn't see a change log anywhere, are there any issues I should be aware of using `0.11.3`?

[2016-05-10 10:57] paulvanbladel commented on #123
Sorry you run into trouble. The sample app aurelia-auth-sample works normal.

[2016-05-10 10:59] #123 closed

[2016-05-10 11:03] paulvanbladel commented on #122
Hi,
In the readme there is a section on how to configure the fetch client.
Can you please check if that isn't an answer for you?
thanks
cheers
paul.

[2016-05-10 11:30] Tseberechts commented on #122
Hi Paul,

so this is what I do:

[code]

then this is what my request looks like:

[code]
I think the `Accept` should be `application/json` and there should be a `Content-Type: application/json`.

Am I wrong?

cheers,
Thomas

[2016-05-10 14:14] paulvanbladel commented on #122
You are

[2016-05-10 14:16] paulvanbladel commented on #123
Luke,
Is your problems solved?
cheers
paul.

[2016-05-10 14:33] lukechilds commented on #123
No, I think I'm just gonna stick with `0.11.3`.

[2016-05-13 13:19] Tseberechts commented on #122
Further investigation leads me to think it's a bug in the aurelia-fetch client. I'll post my issue there.

[2016-05-13 13:19] #122 closed

[2016-05-17 10:00] finikm opened #124 "Problems with responses"
The login API I try to use returns a 400 response when there's an error, with the error message in the body of the response:

[code]

If I use Fetch API, I can do a check for a response.ok, and display the error message to the user. However, if I use `this.auth.login`, the 400 response is returned to the catch block, without a way for me to get that body.

Is it a bug or an intended behaviour? If

[2016-05-17 11:13] izderadicka opened #125 "AuthFilter issue"
Got this  after I add another bindings to page that already worked ( if.bind).   Not exactly sure where is problem
[code]

[2016-05-19 06:27] paulvanbladel commented on #125
Hi Ivan,
Can you provide more precise steps for reproducing the problem.
BTW,  I like your blog. Very nice.
Cheers

[2016-05-19 11:13] izderadicka commented on #125
Hi Paul,

this is the app.html:
[code]

and app.js:
[code]

they work - however if I just modify this line in html (root of drawer element):
[code]

to this :
[code]
got error above - does not depend on where if.bind is bound -  so using trivial case, which still leads to error.  I'm not expert in aurelia -   this looks like some race condition -  that filter is called before routes are initalized

[2016-05-20 06:50] apawsey commented on #121
Second this.  I was about to ask if you have any tips on how to handle expiration?  My understanding is it'll only be triggered when you try to navigate somewhere, but the token will still exist in storage, so surely all we need to do is redirect if token exists but has expired?  If that logic makes sense, I'll try and do a PR for this.

[2016-05-20 09:58] stuartbale opened #126 "Update signup function definition in aurelia-auth.d.ts"
The signup function on auth-service supports an 'overload', where if the first argument is an object, it uses that, otherwise it generates an object from the supplied arguments:

[code]

Would you please consider updating the aurelia-auth.d.ts Typescript definition to include this overload?

S

[2016-05-20 10:34] paulvanbladel commented on #126
Would it be possible to make a PR please?

[2016-05-20 14:08] paulvanbladel commented on #121
Cool, thanks for making a PR.

[2016-05-20 15:57] CD-UNCC commented on #121
@apawsey What I did was in authentication.js line 129
Make a check for `Math.round(new Date().getTime() / 1000) <= exp;`

If the token has expired in this check a getLogoutRedirect should be added at the top of this file that looks in the config file just like the login redirect does. Otherwise you can just call logout.

if (exp) {

        if(Math.round(new Date().getTime() / 1000) <= exp){
			re

[2016-05-26 01:34] MarkHerhold opened #129 "Use of isomorphic-fetch dependency"
Why does this library ship with a polyfilled fetch dependency? In my opinion this library should use the browser's default fetch client and end users can provide a polyfill as needed.

[2016-05-28 16:05] fedoranimus opened #132 "AuthService.signup(...) seems overly restrictive"
It seems odd to me that `AuthService.signup(displayName, email, password)` has such restrictive parameters.

Is there a strong reason behind this? Are these parameters easily customizable?

[2016-05-30 07:52] paulvanbladel commented on #132
Yeah, the signup method is just there for making the picture complete, but signup is not part of oauth/openidconnect. So, there is few add value. Simply provide your own version of signup matching your server side needs. The real added value of aurelia-auth is in the oauth processing, token exchange and stuff like that.
Note that when your first param in the signup method is an object, you have fu

[2016-05-30 07:52] #132 closed

[2016-05-30 08:55] paulvanbladel commented on #129
@mbroadst what is your view on this? Thanks.

[2016-05-30 08:56] #54 closed

[2016-05-30 08:57] #82 closed

[2016-05-30 13:48] mbroadst commented on #129
this should be fine, the isomorphic-fetch was added because we were trying to use webpack and the existing module at the time imported `fetch`. It should be enough to simply remind the users of the library that they must import their own fetch polyfill in the event that the browser doesn't support it

[2016-05-31 06:21] paulvanbladel commented on #115
Sorry for my late reply.
Should be fixed in v2.2.1
cheers
paul.

[2016-05-31 06:21] #115 closed

[2016-05-31 06:36] #129 closed

[2016-06-11 19:12] ajdisalvo72 opened #133 "Which configuration setting is the equivalent to "Tenant"?"
I would like to use this plugin to work with azure AD, which is Microsoft's Azure implementation of Oauth 2.
An example configuration  for adal.js, microsoft's javascript API is:
    window.config = {
        instance: 'https://login.microsoftonline.com/',
        tenant: '[somethingunique].onmicrosoft.com',
        clientId: 'sdfdsfdffdsdsffsdfdsfdsds',
        postLogoutRedirectUri: window.locat

[2016-06-12 08:37] paulvanbladel commented on #133
I'm pretty sure microsoft follows the oauth standard correctly, so it should be a variation on the set of example providers in aurelia-auth.
Unfortunately I don't have (any longer) an azure account, so I can't test anything.
Feel free to provide PR when you have a working config for azure.
cheers
paul.

[2016-06-13 16:07] johntom opened #134 "Bundle"
Hi Paul,
I was having an issue bundling aurelia-auth into the final course-ware project from  aurelia fundamentals https://app.pluralsight.com/ so I deciided to test with https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-esnext and found similar issues  After jspm install aurelia-auth and adding   "aurelia-auth" to bundles.js I get error (*1)below when doing an gulp serve-bundle.

[2016-06-13 17:36] paulvanbladel commented on #134
Are you using the latest aurelia auth bits because the error History must implement activate(), was corrected in last release.

[2016-06-13 20:03] johntom commented on #134
Not sure wat I'm missing.
I did a jspm install aurelia-auth
This installs to C:\Aurelia\skeleton-navigation\skeleton-esnext\jspm_packages\npm\aurelia-auth@3.0.1.
config.js has map: {
    "aurelia-animator-css": "npm:aurelia-animator-css@1.0.0-beta.1.2.1",
    "aurelia-auth": "npm:aurelia-auth@3.0.1",
...
  "npm:aurelia-auth@3.0.1": {
      "aurelia-dependency-injection": "npm:aurelia-dependency-in

[2016-06-16 02:22] #133 closed

[2016-06-16 02:35] ajdisalvo72 opened #135 "How do I Redirect an Unauthenticated User to Oauth Provider's login page immediately"
I have an application that I want to force the user when they hit any part of the site to be redirected to the oauth provider's login page for the app. I am going to be exclusively using one oauth provider, Azure AD, which needs the client Id in the URL along with the nonce and the redirect url. I have been experimenting with the apis and so far, the only way I can get a redirect to occur is to us

[2016-06-16 03:15] ajdisalvo72 commented on #135
I went though and effectively hardcoded the url in the javascript of a stubbed out login page. This redirects me to the oauth providers website which redirects back to my app with the id_token in the url and I am now getting this error from the aurelia router

aurelia-logging-console.js:54 ERROR [app-router] Error: Route not found: /id_token=HIiOiI3NS4xMzAuMjEzLjEyMiIsIm5hbWUiOiJBbnRob255IERpU2Fsd

[2016-06-17 13:53] briannoyes commented on #134
My sample code is all based on the Aurelia libraries at the point in time where I finalized them for production. If you are adding in new modules, they likely depend on newer versions of the aurelia modules than what was in my course exercise files.

I think all you need to do to fix this is update the modules to the project so it grabs the latest ones using:
jspm update

[2016-06-17 14:36] johntom commented on #134
Thanks, running jspm update after installng aurelia-auth on skellton fixes problem for skelleton

[2016-06-17 14:36] #134 closed

[2016-06-17 14:52] paulvanbladel commented on #134
Thanks @briannoyes  for the help.

[2016-06-23 02:20] Slimfit opened #137 "import {Authentication} from 'aurelia-auth'"
Trying to do this: `import {Authentication} from 'aurelia-auth';` will give the following error:

[2016-06-23 08:31] paulvanbladel commented on #137
when you look to the 'index' file (aurelia-auth.js) you will see that the Authentication class is not exported.
I guess that's the reason why you can't import it, no?

´´´
import {AuthService} from './auth-service';
import {AuthorizeStep} from './authorize-step';
import {FetchConfig} from './auth-fetch-config';
import {BaseConfig} from './base-config';
import {AuthFilterValueConverter} from './aut

[2016-06-24 21:19] ajdisalvo72 commented on #135
I ended up needing to add a route config setting something like this to catch this scenario
config.mapUnknownRoutes({ route: "id_token*token", moduleId: "home", nav: false, title: "home" });

[2016-06-24 21:19] #135 closed

[2016-07-08 09:19] rmja commented on #113
`includeSubModules` does not exist in the most resent version of AureliaWebpackPlugin. The filter should instead be included in `package.json` as:

[code]

[2016-07-11 11:50] Ma3yTa opened #138 "Session clear after closing tab SessionStorage"
I can not login for long time

[2016-07-12 20:42] MircoVanini opened #139 "502 Bad Gateway"
Does the online sample app (aurelia-auth.opinionatedapps.com) work fine ?
I'm trying to do a Google / Linkedin "Sign In" but after the confirm of Aurelia JWT actions on Google / Linkedin profile I always get a  "502 Bad Gateway". Have you any idea about it ? Thanks in advance.

[2016-07-12 23:10] rquast opened #140 "Remove ID Tokens"
removeToken() in authentication.js doesn't remove the ID token.

[2016-07-12 23:11] rquast opened #141 "Implement getIDTokenPayload()"
Like getTokenPayload, there should also be a getIDTokenPayload()

[2016-07-12 23:13] rquast opened #142 "Option to use ID Token for getMe()"
Add a parameter to getMe() to use ID Token data rather than user profile call to save time, extra calls.

getMe(useIDToken)

ID Tokens contain name, etc.

[2016-07-12 23:16] rquast opened #143 "Use cryptojs to authenticate token payload (via JWKS)."
JWT tokens aren't validated.. should decrypt with public key (e.g. OpenID connect has a public JWKS for this).

https://github.com/anvilresearch/connect-js/blob/master/anvil-connect.js#L540

[2016-07-13 01:54] rquast commented on #142
Oops.. was wrong. ID Tokens can't have name in them. Will close related tickets.

[2016-07-13 01:54] #142 closed

[2016-07-13 01:54] #141 closed

[2016-07-13 06:32] paulvanbladel commented on #139
Yeah maybe. I will check when back from holiday. Thanks

[2016-07-23 13:11] #138 closed

[2016-07-28 23:36] stuartbale commented on #121
Has anyone implemented a solution to this?
I'm interested in knowing how others have intercepted when a token is about to expire and enable a user to 'refresh' the token.

[2016-08-01 14:21] suamikim opened #144 "Aurelia CLI build brakes when importing aurelia-auth"
I'm having troubles using `aurelia-auth` in a simple test project.

What I've done so far:

* Create new project using `au new` with the following options: Custom, Babel, SASS, No unit testing, WebStorm
* Running the app using `au run --watch` is working just fine as expected
* Installed `aurelia-auth` using `npm install aurelia-auth --save`
* Added `import {AuthService} from 'aurelia-auth';` to t

[2016-08-01 15:08] suamikim commented on #144
I was able to make it build by using the path `aurelia-auth/dist/amd` instead of `aurelia-auth/src` and manually adding another dependecy for `aurelia-fetch-client` to `vendor-bundle.js` in the `bundles` section of `aurelia.json`:

[code]

Is this basically the correct way to handle new dependencies?

[2016-08-05 17:40] Narven opened #146 "The parameter app_id is required"
When trying to use Facebook login I get a popup with the error:

`The parameter app_id is required`

Where in the configurations are we supposed to put the app_id, I cannot find it anywhere on the auth configs examples.

Thanks

[2016-08-05 18:24] #146 closed

[2016-08-08 14:21] CD-UNCC commented on #121
@stuartbale aurelia-auth is constantly checking the expire time of the token and you can incorporate your custom logic there. See my above post.

Here you can change the conditional to fit your needs.

[2016-08-12 13:43] don-bluelinegrid commented on #121
@CD-UNCC
I don't think that "aurelia-auth is constantly checking the expire time of the token" - according to the code for tokenInterceptor(), this check is only being made during AJAX requests, by a request interceptor.   It is similar to @apawsey 's statement that the check is done on navigation - but not exactly, because this check is done on request -> and the only purpose of it is to add the

[2016-08-15 14:36] don-bluelinegrid opened #147 "Handle 'refreshToken' flow"
Paul -

How does aurelia-auth support the full Oauth2 use case implementation, specifically regarding expiration and "refresh tokens"?

My understanding of the OAuth2 intention is that this sequence should occur -
1. Client makes request with accessToken (short-lived token).
2. Server/provider receives request; responds with 401 Unauthorized for expired token, otherwise returns response.
3. If cli

[2016-08-15 19:06] paulvanbladel commented on #147
Dear Don,

Thank you so much for raising this question/topic.
To be honest, I should seriously study the whole refresh token material more in depth.
I have seen so many refresh token implementation/interpretations which from security perspective where like playing with fire.
Maybe interested people can share thoughts in the thread on how we come to improving aurelia-auth with respect to refresh to

[2016-08-17 19:06] Boolos commented on #126
This should be resolved with [PR #148] if you'd like to close this issue.

[2016-08-17 19:47] #126 closed

[2016-08-24 10:01] specimen151 opened #149 "fetchConfig.configure destroys baseUrl?"
this.fetchConfig.configure()

seems to overwrite

    this.http.baseUrl

So I need to set `this.http.baseUrl` again, after ` this.fetchConfig.configure()` to get things working.

`this.http` is Aurelia's HttpClient.

My `authConfig.ts` does have a `baseUrl` already, so I keep setting this two places.

Please not that I've added an interceptor, according to receipes found here or elsewhere (don't r

[2016-08-25 11:19] finikm opened #150 "(Don't) redirect on login"
Is it possible to suppress the redirect after the login; When I use the `authenticate` function, I pass the current url as the redirect url, thus avoiding any redirect, but when the user uses the `login` function (username/password), there's no such option. If is not, is it possible to add the same functionality?

I guess I could use fetch to do the login, save the token manually using the `setTok

[2016-08-27 08:20] paulvanbladel commented on #150
thanks, I'll check this.

[2016-09-02 03:20] LeoNero opened #151 "getMe() not working with Facebook"
Hi! I'm creating an Aurelia project that contains facebook login. My code is similar to [https://github.com/paulvanbladel/aurelia-auth-sample](url) .

My files are:
authUtils.js: [https://gist.github.com/LeoNero/68a8188f4dbbf24dea8143255ed07a4c](url)

routes/api.js
[code]
controllers/api.js
[code]

However, when I go to 'localhost/me' to look what the server has returned, I always get the followin

[2016-09-02 17:09] don-bluelinegrid opened #152 "'Authorization' header not sent when isAuthenticated() evaluates to false"
@paulvanbladel

Paul,

I've discovered what may be a bug, or at the least something that causes a problem supporting the OAuth use case of using 'refresh tokens'.

As background, we are using an OAuth-based authentication/authorization system, and the expectation is that we should provide an access-token in the Auth header (which aurelia-auth does for us), and we should also rely on the server to

[2016-09-06 04:56] khuongduybui commented on #144
I think you can just add their names.

[code]

Let me know if that works for you.

[2016-09-08 09:47] JayDi85 commented on #144
**khuongduybui**, it doesn't work. You must add aurelia-auth path manual to aurelia.json file (see post above).

I think that problem in aurelia-auth config file or something else. If you go to "aurelia-http-client/config.js" then you can find different line in path:
"aurelia-http-client/*": "dist/system/*"

But in "aurelia-auth/config.js" that line like that:
"aurelia-auth/*": "dist/*"

[2016-09-08 17:09] JayDi85 opened #154 "Add XHR support (aurelia-http-client) for inner functions like login or signup"
Can you add support for use aurelia-http-client instead of aurelia-fetch-client in inner functions like signup or login? I known what XHR is old, but sometimes it necessary for application work.

[2016-09-13 06:39] paulvanbladel commented on #144
Maybe related to this?
https://github.com/aurelia/cli/issues/212

[2016-09-15 02:48] bmb0205 commented on #144
Try this in your aurelia.json bundles dependencies. It should work.
[code]

[2016-09-17 04:20] SeanFarrow opened #156 "Allow Aurelia-Auth to set the auth token as a cookie"
Hi,

I am using Aurelia-auth with SignalR and IdentityServer and am wondering whether when a user is authenticated Aurelia-auth set the token as a cookie as well as using the auth header.
If it doesn't could this be added/how can I do this?
Any help appreciated.
Kind regards
Sean.

[2016-09-19 18:45] #151 closed

[2016-09-28 14:24] gamtiq opened #158 "Several typos in README"
There are the following typos in `README.md`:

[2016-09-28 14:30] paulvanbladel commented on #158
Shame on me.
I corrected these typos. Thanks for signaling :)

[2016-09-28 14:30] #158 closed

[2016-09-30 13:51] jakubkorczyk opened #159 "Authentification header added only if request url is same as application host"
I have following probblem. The application is set similar to this from egzample, sadly it adds authorization header only if request url in same domain as appliction:
![image](https://cloud.githubusercontent.com/assets/12918498/18993817/5983e878-8725-11e6-8012-8503b5f8663a.png)
![image](https://cloud.githubusercontent.com/assets/12918498/18993870/a1f3cad8-8725-11e6-923d-dda11df93338.png)

[2016-10-02 08:43] giuliogatto commented on #159
Same problem here.

[2016-10-02 14:51] ShawnTalbert commented on #159
This sounds like expected behavior due to same-origin policy?

[2016-10-03 03:21] chriswait opened #160 "Storage of authentication details fails in Safari when using Private Window"
### Background:
When Safari is in Private Window mode, localStorage is disabled by design (https://github.com/marcuswestin/store.js/issues/42, https://spin.atomicobject.com/2013/01/23/ios-private-browsing-localstorage/). It appears that conventional checks will report localStorage exists, but calling setItem will cause an error as it only exists in a read-only capacity. These checks are currently

[2016-10-03 03:25] liamdawson commented on #160
@chriswait can you set/modify cookies from JS in Safari when in private mode? That could mitigate the storage aspect, so it could fallback to cookie storage if local storage is unavailable.

[2016-10-03 08:00] jakubkorczyk commented on #159
Thanks giuliogatto. That worked for me. CORS was allowed, but 'Access-Control-Allow-Headers' was not set properly.

[2016-10-03 08:00] #159 closed

[2016-10-04 02:52] chriswait commented on #160
@liamdawson Yeah, they can be set/modified, and they're cleared when the private window is closed.

The base config uses `localStorage` as the default storage (https://github.com/paulvanbladel/aurelia-auth/blob/master/src/base-config.js#L37).

The Storage class only appears able to return `localStorage` and `sessionStorage` as the options for storage (lines 16 & 19 of https://github.com/paulvanbla

[2016-10-12 12:27] davidpurkiss commented on #137
Having a similar issue. The reason I am trying to import Authentication is because this is where setToken() is. How would one go about "Supplying token programmatically" without this?

[2016-10-12 12:47] davidpurkiss commented on #137
Oh, never mind. I got it working with the following.

`this.authService.auth.setToken(token, redirect);`

[2016-10-13 00:15] chriswait commented on #160
Just noticed that storing authentication details using cookies is already a feature request in issue #156 - if cookie-storage were to be implemented then adding some kind of graceful fallback would solve this issue.

[2016-10-13 18:56] gbgelado opened #161 "Custom interceptions"
How is the better way to configure intercetions to put custom params like api_key.

[2016-10-25 05:45] chriswait opened #164 "oAuth2 - Login fails in IE11 due to use of String.includes()"
# Background

During login, while processing the oAuth response data, there is a check to see if the current setting's responseType includes the string "TOKEN" (https://github.com/paulvanbladel/aurelia-auth/blob/master/src/oAuth2.js#L70)
# Issue

The String.includes() method is unsupported in IE11 (http://www.w3schools.com/jsref/jsref_includes.asp), which means login cannot succeed in this browser

[2016-10-28 17:52] kingsleyh commented on #113
Hi - I'm also struggling to get aurelia-auth to work with webpack.

I did npm install aurelia-auth --save
then put the snippet posted above by @rmja into package.json
But in my app.ts import {FetchConfig} from 'aurelia-auth' is not found when I run npm run build

I get this:
      Property 'fetchConfig' does not exist on type 'App'.

Any help greatly appreciated. Did I miss something important?

[2016-11-05 04:27] sam0586 commented on #160
Hi guys, any update like which version will have this feature enabled? We are also facing the similar issue with our webapp cognito call in safari private mode.

[2016-11-07 03:57] ShaunVanDyk commented on #137
Shouldn't Authentication be exported as part of the node_module though? The example in the docs under "What exactly is 'configured' on the Http Client and can we have multiple endpoints?" point to using the auth.TokenInterceptor so that you can configure the rest of the settings yourself, however because Authentication isn't exported we can't import { Authentication } from 'aurelia-auth'. (On that

[2016-11-13 23:23] chriswait commented on #156
@paulvanbladel I would be keen to have a go at a PR for this enhancement sometime in the next week, if it's something you're interested in having?

'storage.js' would obviously get a bit more complex due to the lack of a similar storage/cookies API.

This would open up the future possibility of a graceful fallback to cookies, which would address #160.

[2016-11-14 15:22] paulvanbladel commented on #156
Hi @chriswait .
cool. As long as things stay nicely backward compat.
Thanks.

[2016-11-20 18:22] claq2 opened #167 "Login popup closes immediately"
I started with your ASP.Net identity sample, but I'm hosting the identity endpoint (Identity Server 3) in my ASP.NET (full framework). If I read it right, the login popup thinks it's time to close because the window's current URL matches the originating URL. Is this correct? Is this a limitation of aurelia-auth or is there an option somewhere to make it be more strict in its checking? E.g. don't l

[2016-12-03 13:52] tommasop commented on #144
Tried with both:

[code]

and

[code]

and it builds the app with `au run` but when I open the browser I receive the following error:

[code]

I also tried the solution proposed in: [aurelia/cli#212](https://github.com/aurelia/cli/issues/212) but I receive the same error!

[2016-12-04 22:24] alexsaare opened #169 "iphone"
I can't get this to work on an iPhone.

I have a polyfill, it works on desktop, android and even on iPad however, it doesn't work on iPhone 5, 6s, or 7.

I get the auth pop up but then it just redirects me back to the log in page.

sample web site is here - https://refunds.uat.insure-hub.net/

[2016-12-09 22:25] daveyjay commented on #113
I have been unable to get this to run - have tried the various suggestions in the previous posts.  I am getting this error with auth-filter when trying to run:

`1.bundle.js:81 Uncaught (in promise) Error: Cannot find module './aurelia-auth/auth-filter'.(…)(anonymous function) @ 1.bundle.js:81webpackContextResolve @ 1.bundle.js:81webpackContext @ 1.bundle.js:78(anonymous function) @ bundle.js:378r

[2016-12-11 20:17] andreasohlund commented on #164
This is fixed and released in 3.0.4 right?

[2016-12-13 17:04] don-bluelinegrid opened #170 "Support aurelia-http-client in addition to fetch client"
In our project we have a use case for file upload using multipart-form data, and this simply will not work using the aurelia Fetch client.  I won't go into a detailed explanation, but Fetch will not work correctly with borowsers to send mulipart-form data, because it doesn't set the content-type and boundary value in the request.  As a result, this makes it necessary for us to use the aurelia-http

[2016-12-13 18:46] paulvanbladel commented on #170
Hi Don,
Yeah sorry about that, I was indeed a bit too enthousiast about Fetch when completetly replacing aurelia-http client :(
Just wondering, isn't Fetch working correctly when you set content-type and boundary value? Or is Fetch simply unable to work with multi-part form data?
Warm regards
paul.

[2016-12-13 18:56] paulvanbladel commented on #164
Yeah I would think so.

[2016-12-13 18:56] #164 closed

[2016-12-13 19:46] don-bluelinegrid commented on #170
Paul -

Regarding your question:

1. Technically, you are not supposed to set the content-type on a FetchPOST with FormData, because it is supposed to send it using the correct format.  However, this is not really the case.

2. It is possible to set the content-type, but this won't be a solution, because for multipart form data we need a boundary value, which is dynamically generated and set by th

[2016-12-13 19:52] don-bluelinegrid commented on #170
I guess someone else was asking for this also, back in September:

https://github.com/paulvanbladel/aurelia-auth/issues/154

[2016-12-16 19:43] ClaudioNunes commented on #170
Also fetch client in current implementations does not deal with timeouts.
It would be nice that plugin also with aurelia-http-client that does deal with http timeouts.

[2016-12-21 20:45] vanbilt commented on #113
I also get this error. I got different ones initially but kept commenting out lines of code to get it to run. This one has me stuck. This is a closed issue though - I don't think anyone is following the closed tickets. Hope you get this figured out. This looks like it's exactly what I need to solve a problem I'm having - but since I can't run the sites I guess I'll just have to keep looking.

[2017-01-22 20:35] ghiscoding commented on #144
Not sure what your problem is but I got a working `Aurelia-CLI` sample going. What I use in my `aurelia.json` file is the following:

[code]

Perhaps take a look at my [Github Project - Realtime-TODO-Aurelia-Auth-RethinkDB](https://github.com/ghiscoding/Realtime-TODO-Aurelia-Auth-RethinkDB) to get you going. However please note that I replaced all the `mongoDB` with `RethinkDB`

[2017-01-23 02:06] khuongduybui commented on #144
@ghiscoding on a totally different note, RethinkDB went out of business.

[2017-01-23 02:34] ghiscoding commented on #144
@khuongduybui I know but RethinkDB is still an Open Source Project that will live on (even if the maintenance went down drastically), the company might be dead but the project is not.

However, I only posted a link to my project to help others.

[2017-02-09 14:36] MrChriZ commented on #113
Same problem here

[2017-02-09 14:56] RWOverdijk commented on #113
@vanbilt, @MrChriZ, @daveyjay, @kingsleyh In our [authentication plugin](https://github.com/SpoonX/aurelia-authentication) we do the same thing @rmja suggested. [Click here for the code](https://github.com/SpoonX/aurelia-authentication/blob/master/package.json#L95,L103).

It should be a simple fix. https://github.com/paulvanbladel/aurelia-auth/blob/master/package.json#L121

[2017-02-09 17:16] MrChriZ commented on #113
Thanks @RWOverdijk
I can't seem to get that fix to work with the 'aurelia-identityserver-aspnetcore' sample
I've created a seperate issue here:
https://github.com/paulvanbladel/aurelia-identityserver-aspnetcore/issues/3

I tried changing the main package.json, and the package.json in the aurelia-auth module under the node_modules folder but to no avail.

[2017-02-09 17:18] RWOverdijk commented on #113
Hm, well that's odd. Is it bundled as concat? Or not? I have to admit I can't remember what we did to solve this... It has been a while ago since we did. Perhaps you can diff it with our plugin to see if you can find the solution we applied.

[2017-02-09 19:27] MrChriZ commented on #113
I've got @rmja's solution to work in the end.  More details on the issue for the identity server issue I created

[2017-02-13 18:22] ne0guille opened #171 "Providers clientId is not beeing setted"
Hello, im having some problems using google provider OAuth2 with aurelia-auth

`var configForDevelopment = {

    providers: {
         google: {
            redirectUri:'http://localhost:3000/auth/google/callback',
            clientId: '611325554483-l3ipiu04q5tdaed8j9uplav0h1r70dd7.apps.googleusercontent.com'
        }
    }
};

![image](https://cloud.githubusercontent.com/assets/15113782/228974

[2017-02-14 13:51] schmitty1970 opened #172 "AuthorizeStep is not defined"
When I add, config.addPipelineStep('authorize', AuthorizeStep); to my router config I get the runtime error, AuthorizeStep is not defined.  Where is AuthorizeStep defined and how can I configure it so I can use the auth filter?

[2017-02-14 14:06] schmitty1970 commented on #172
Sorry, my bad.  I found it and imported it.  Works fine, please close this issue.

[2017-02-16 20:45] ne0guille commented on #171
closing this as https://github.com/SpoonX/aurelia-authentication/issues/259#issuecomment-279946328

[2017-02-16 20:45] #171 closed

[2017-02-28 23:57] evak2979 commented on #144
@tommasop

I am getting the same issue as you...

[code]

What's frustrating, is that if I download the project from here: https://github.com/chenkie/aurelia-jwt-auth/tree/master/client

and au build, it works.

I have been comparing aurelia.json files, I have been trying to find how or what's missing from one to the other and I can't figure it out...

Any help is appreciated.

[2017-03-01 00:29] ghiscoding commented on #144
@evak2979 There's couple things that might be worth checking.

Does your `aurelia.json` have the following?
[code]

Then in your `main.js`, does it have this?
[code]
You also need `resources/value-converters/authenticatedFilter.js` that looks like this:
[code]
and make sure to add it in your `resources/index.js` file
[code]

I think that I've seen that problem with the `authFilter not found` befor

[2017-03-01 09:21] evak2979 commented on #144
@ghiscoding

Thank you for your quick response ! I did go through your code, but there were things I did not understand. In particular:
[code]

According to naming convention, this should be used as authenticatedFilter if we are using it as a valueconverter, but we're not... it's only authFilter that it's used. I even did a search for authFilter in both our projects. We have the exact same entries

[2017-03-01 12:54] reft commented on #124
@finikm Hi, did you solve this? http://stackoverflow.com/questions/42532109/aurelia-auth-custom-response-message-console-error

[2017-03-01 13:04] reft opened #173 "Custom response message (incorrect username and/or password from server)"
I wish to return a custom error when user tries to log in with incorrect username and/or password.

1. How do I access my unauthorized response custom message in the login function catch error?

2. It seems like the aurelia-auth login function must receive a httpStatusCode.Unauthorized in order for it to understand that the password/username was incorrect, but that generates a 401 (Unauthorized) c

[2017-03-01 13:16] finikm commented on #124
@reft Unfortunately we didn't, even though we didn't spent much time on it. We decided to just display a generic message and move on.

[2017-03-01 14:41] ghiscoding commented on #144
@evak2979  I thought that I copied `AuthenticatedFilterValueConverter` from [aurelia-auth-sample](https://github.com/paulvanbladel/aurelia-auth-sample/tree/master/client/src) but it's actually not there. I might have provided you wrong information about that particular file, it might not be called at all. I will have to check for that after work and perhaps update my repo if need be. Thanks

I'm a

[2017-03-01 16:27] armonb opened #174 "Facebook login with responseType 'token'"
Hey,

The Facebook login is working fine for me, however I would prefer to have the 'token' instead of the 'code' returned in the response.
I have tried adding:
responseType: 'token'
to the facebook provider configuration. However this results in the system not working at all.

Could you let me know if this is even possible and how I may be able to accomplish this.

Thanks.

[2017-03-01 16:48] #174 closed

[2017-03-22 02:02] stephenstroud opened #175 "Update FB api version from 2.3 to latest"
Any plans on updating the 2.2v as it will be retied on the July 8, 2017

https://developers.facebook.com/docs/apps/changelog

[2017-03-22 15:39] paulvanbladel commented on #175
Happy to merge a PR.

[2017-03-22 16:30] RWOverdijk commented on #175
@stephenstroud Isn't it just part of the docs? I don't think it matters as long as you configure your providers correctly.

[2017-03-22 21:24] stephenstroud commented on #175
@RWOverdijk  Yes as you can configure the setting. Here:
 https://github.com/paulvanbladel/aurelia-auth/blob/41b5504fc0aea19ff6f1737a9d880106cea1a5cc/dist/es2015/base-config.js#L87

however, updating it means the default configuration won't be outdated when the API retires, especially helpful for new users etc.

[2017-03-22 21:24] stephenstroud commented on #175
@paulvanbladel  Okay thanks

[2017-03-22 21:24] #175 closed

[2017-04-08 15:58] stephenstroud opened #176 "Conditional loginRedirect"
Currently is there a way to achieve conditional redirect routes?

[2017-04-11 14:56] stuartbloom opened #177 "converting from oidc-client"
Hi there

I am using IdentityServer3 and the oidc-client code to do my authentication, but would like to strip it out to use something that is designed to do the job, rather than have all the code in my view models.

I have downloaded the sample and it looks nice, and I am hoping to implement it in my application.

I have two issues:

The first is that, although there is an Authorize addPipelineSt

[2017-04-11 15:47] paulvanbladel commented on #177
Did you check: https://github.com/paulvanbladel/aurelia-identityserver-aspnetcore

[2017-04-11 15:48] #172 closed

[2017-04-12 08:00] stuartbloom commented on #177
@paulvanbladel no, but I will take a look, thanks :)

[2017-04-22 13:26] PeterWone commented on #170
I can't think of a single use case in which fetch is functionally superior to XHR. Unfortunately I can think of numerous cases in which it is less functional.

[2017-04-23 19:44] JoshuaVSherman opened #178 "Fails to process post request from Google - after now using latest version of Aurelia Webpack Babel Skeleton"
please reference these two open issues:

https://github.com/WebJamApps/combined-front/issues/153

https://github.com/aurelia/skeleton-navigation/issues/805

Current behavior:
Intermittent freeze to the /dashboard route after login. I am using the Aurelia-Auth plugin
There was no issue before I upgraded to the latest version of this skeleton, and there is no way to debug this issue that I am aware

[2017-04-24 19:23] JoshuaVSherman commented on #178
could this be an issue with using the aurelia-webpack-plugin
and how we needed to do this in the main.js
**aurelia.use.plugin(PLATFORM.moduleName('aurelia-auth/auth-filter'));
aurelia.use.plugin(PLATFORM.moduleName('aurelia-auth'), (baseConfig)=>{
baseConfig.configure(config);
});**

[2017-04-25 17:05] JoshuaVSherman commented on #178
This just happened from production, so it is definitely not the webpack dev server
https://www.web-jam.com/dashboard

please provide any recommendations

[2017-04-25 17:54] paulvanbladel commented on #178
Sorry Joshua no idea. Aurelia-auth didn't change recently.

[2017-04-25 18:09] JoshuaVSherman commented on #178
This is probably the reason, found it while looking at aurelia-authentication plug in
https://github.com/SpoonX/aurelia-authentication/issues/347

[2017-04-25 19:22] JoshuaVSherman commented on #178
I am not currently able to reproduce the issue after I put this into the webpack config

  plugins: [
    new AureliaPlugin(),
    new ModuleDependenciesPlugin({
      'aurelia-auth': ['./auth-filter'],
      'aurelia-polymer': ['./au-select-custom-attribute'],
      'au-table': ['./au-table', './au-table-select', './au-table-sort']
    }),

@jods4
says that is is your aurelia-auth plugin and not

[2017-04-26 11:57] JoshuaVSherman commented on #178
I have not been able to repeat this, since I moved the submodule dependancy into the webpack config

[2017-04-26 11:57] #178 closed

[2017-05-24 12:10] IvanSeselja commented on #113
I had the same problem, the only thing that worked for me was loading both plugins (aurelia-authentication and aurelia-authentication/authFilterValueConverter) as ModuleDependenciesPlugin.
![selection_001](https://cloud.githubusercontent.com/assets/14782799/26402444/b167a178-408a-11e7-8c6b-0f90829fa395.png)

[2017-07-04 19:33] alexsaare commented on #105
This fix breaks the default behaviour when posting multipart data.  The boundary information of the Content Type header is dynamically added by the browser.  Forcing the content type to appication/json means that you can not remove it and allow aurelia-fetch to do it's own thing

    import {HttpClient, json} from 'aurelia-fetch-client';

    @inject(HttpClient)
    export class ClaimWriter {

[2017-08-14 20:13] johot opened #180 "Is this project alive? Can't login with google on sample page"
Hi!
The sample page for this plugin still returns "502 bad gateweay" when trying to do a google login. Is this library still active and working?
Thank you!

[2017-11-07 21:52] Ryanman commented on #113
To build on @IvanSeselja 's answer, in your webpack.config.js:

- Import Module Dependencies along with the Aurelia Webpack plugin:
`const { AureliaPlugin, ModuleDependenciesPlugin } = require('aurelia-webpack-plugin');`

- Add a new ModuleDependenciesPlugin to the list of your plugins:
[code]

[2017-11-13 06:36] ielcoro commented on #105
Please revert the merged Pull Request #168 and set the headers explicitly on request instead of messing with the defaults.

Versión 3.0.5 totally broke various ongoing applications, because as @alexsaare said, the defaults prevent multipart header from being calculated automatically when using FormData.

For the time being we don't use FetchConfig for configuring the library and instead we rely on

[2017-11-13 06:50] ielcoro commented on #105
Just uploaded a pull request that reverts this behavior and instead uses a explicit per-request headers approach.

[2017-11-13 09:10] alexsaare commented on #105
Just FYI -

To work around this issue, I extended HttpClient like this

    import {HttpClient} from 'aurelia-fetch-client';
    import {inject} from 'aurelia-framework';
    import {AuthService} from 'aurelia-auth';

    @inject(AuthService)
    export class NonJsonHttpClient extends HttpClient {
      constructor(auth) {
        super();
        this.configure(config => {
          config

[2017-11-13 10:12] paulvanbladel commented on #105
@ielcoro  are you interested to join as admin and handle the PR?

[2017-11-13 21:45] ielcoro commented on #105
@paulvanbladel it would be a pleasure. However I have to be honest, I do not have much time to spare on side projects, at least not as much as I would love, so I can do some code reviews and issue filtering, pr mergin etc, but I don't have the time to take the ownership of the repo, if that is ok with you, yes I can start handling this PR.

[2017-11-14 07:26] paulvanbladel commented on #105
Thanks.

[2017-11-15 22:50] ielcoro commented on #180
The samples are outdated, they do not represent the current status of the library. Also I cannot look at the sample source code, but as I have various apps working fine with google and this library, you can asume it's a problema with the configuraiton of the sample application.

Maybe @paulvanbladel  can say something more about the sample application.

[2017-11-16 05:38] #177 closed

[2017-11-16 06:10] #169 closed

[2017-11-30 14:10] seagullmouse commented on #121
Has anyone fixed and/or forked this as yet?

[2018-01-25 14:16] genachka opened #184 "Aurelia Fetch Client 1.3.0 change breaks auth login"
The POST body now comes in as Text instead of JSON breaking what backend server is expecting.

[2018-02-15 22:59] ahedreville commented on #104
Do not want to work for me.. anyway I solved from the reply https://github.com/SpoonX/aurelia-authentication/issues/234

I need to pass more parameters for my server... and it works

 this.authService.login({ username: 'jdoe@foo.com', password: 'mysecret',  grant_type: 'password' }, {headers: {'Content-Type': 'application/x-www-form-urlencoded'}});

[2018-02-16 00:08] ahedreville commented on #104
A better option is to add the following to your config

  defaultHeadersForTokenRequests:         // Default headers for login and token-update endpoint
  {'Content-Type': 'application/x-www-form-urlencoded'},

It works too

[2018-04-25 10:09] ajeetchoudhary opened #186 "I am unable to get token when click on login with facebook."
Hi,

I am using your aurelia-auth application from your repository. I have made necessary changes in authConfig file with respect to Facebook login.

when I run below code it opens a popup which throwing 500 internal server error as there is no end point https://mydomain.com/auth/facebook.

return this.auth.authenticate('facebook')
                .then((response) => {
                    console.

[2018-04-25 11:23] ajeetchoudhary commented on #186
![image](https://user-images.githubusercontent.com/5568257/39242772-3e0775c8-4859-11e8-98cd-1671530f92e5.png)
![image](https://user-images.githubusercontent.com/5568257/39242834-7b13bd3c-4859-11e8-9a75-6a1ac99cade6.png)

[2018-04-26 02:44] ajeetchoudhary commented on #186
Any update on this as i need to close this implementaion soon.

[2018-05-08 11:13] krishan-kataria opened #188 "Add custom headers in http request in login method"
An **enhancement**, I need to add custom headers to the http call while login (in auth-service.js)
like
`login(email: any, password?: any, headers?: any): any;`
For this I have created a pull request, please have a look
[https://github.com/paulvanbladel/aurelia-auth/pull/187](url)

[2018-12-10 08:15] WalterEbbers opened #189 "Not redirecting after login and Authorization somehow not set"
Hi,
I have been working on a aurelia with webpack implementation for aurelia-auth so i can use it within projects  but found two things that did not work.
I took https://github.com/paulvanbladel/aurelia-identityserver-aspnetcore from @paulvanbladel  as a example.

1. Issue #1 Not redirecting to redirectpage.
Steps:
- I login using the identyserver4 popup.
- After the popup closes the console print

[2019-04-09 20:29] JarekToro opened #190 "Login using current page redirect not popup."
All of the documentation only shows popup as an option.

[2019-04-09 20:48] #190 closed, assigned to nobody